
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.contact-bHX {
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;

  .auto-group-dj6y-YCm {
    width: 100%;
    height: 176.2rem;
    position: relative;
    flex-shrink: 0;

    .body-1-skq {
      padding: 13.6rem 14.9rem 36.2rem 14.9rem;
      width: 144rem;
      left: 0;
      overflow: hidden;
      align-items: center;
      flex-direction: column;
      background-color: #f4dfb6;
      box-sizing: border-box;
      height: 167.4rem;
      position: absolute;
      top: 8.8rem;
      display: flex;

      .ayo-kenal-lebih-jauh-dengan-kami-Ajw {
        max-width: 53.6rem;
        text-align: center;
        font-weight: 700;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 9.2rem;
        font-size: 4.8rem;
        color: #ca2129;
      }
      .auto-group-xheu-fAu {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-shrink: 0;
        margin-bottom: 4.4rem;
        padding: 9.9rem 10.8rem 8.4rem 10rem;
        align-items: center;
        flex-direction: column;
        background-color: #9a4444;
        border-radius: 6.9rem;

        .auto-group-fnrt-ky3 {
          margin-bottom: 2rem;
          width: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .nama--htH {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.8rem 10.1rem 0rem 0rem;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.5;
            color: #f4dfb6;
          }
          .rectangle-15-29s {
            border-radius: 1.6rem;
            flex-shrink: 0;
            width: 74.5rem;
            height: 7.8rem;
            background-color: #f4dfb6;
          }
        }
        .auto-group-2vgm-k5s {
          flex-shrink: 0;
          margin-bottom: 2rem;
          width: 100%;
          display: flex;
          align-items: center;

          .tanggal--hmo {
            font-weight: 700;
            line-height: 1.5;
            color: #f4dfb6;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.8rem 7.9rem 0rem 0rem;
            font-size: 2.4rem;
          }
          .rectangle-16-Dk9 {
            flex-shrink: 0;
            width: 74.5rem;
            height: 7.8rem;
            background-color: #f4dfb6;
            border-radius: 1.6rem;
          }
        }
        .auto-group-seof-MbT {
          margin-bottom: 2.3rem;
          width: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .email--ucy {
            margin: 0.8rem 11.3rem 0rem 0rem;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.5;
            color: #f4dfb6;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .rectangle-17-dYy {
            height: 7.8rem;
            background-color: #f4dfb6;
            border-radius: 1.6rem;
            flex-shrink: 0;
            width: 74.5rem;
          }
        }
        .auto-group-bbtb-AJ1 {
          width: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          margin-bottom: 4.4rem;

          .pesan--iKX {
            margin: 2.5rem 10.6rem 0rem 0rem;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.5;
            color: #f4dfb6;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .rectangle-18-3Mo {
            width: 74.5rem;
            height: 27.7rem;
            background-color: #f4dfb6;
            border-radius: 1.6rem;
            flex-shrink: 0;
          }
        }
        .auto-group-ovg5-BD7 {
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          border-radius: 2.2rem;
          margin-left: 75.6rem;
          width: 17.8rem;
          text-align: center;
          background-color: #f4dfb6;
          font-size: 2.4rem;
          color: #9a4444;
          display: flex;
          justify-content: center;
          flex-shrink: 0;
          height: 6.8rem;
          font-weight: 700;
          align-items: center;
        }
      }
      .atau-temukan-kami-di-instagram-auliefood-pG5 {
        line-height: 1.5;
        color: #ca2129;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 500;
      }
    }
    .navbar-vpu {
      left: 0;
      top: 0;
      overflow: hidden;
      width: 144rem;
      height: 16.3rem;
      position: absolute;

      .rectangle-2-4w7 {
        height: 9.1rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #9a4444;
        width: 144rem;
      }
      .beranda-p9b {
        font-weight: 700;
        font-family: Poppins, 'Source Sans Pro';
        cursor: pointer;
        font-size: 1.5rem;
        position: absolute;
        left: 38.7rem;
        top: 4.1rem;
        line-height: 1.5;
        color: #f4dfb6;
        white-space: nowrap;
        width: 7.3rem;
        height: 2.3rem;
      }
      .belanja-viR {
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.5;
        white-space: nowrap;
        height: 2.3rem;
        position: absolute;
        left: 50.7rem;
        top: 4.2rem;
        color: #f4dfb6;
        font-family: Poppins, 'Source Sans Pro';
        width: 6.8rem;
      }
      .tentang-1zm {
        width: 7.1rem;
        height: 2.3rem;
        cursor: pointer;
        position: absolute;
        font-weight: 700;
        white-space: nowrap;
        left: 85.8rem;
        top: 4.2rem;
        font-size: 1.5rem;
        line-height: 1.5;
        color: #f4dfb6;
        font-family: Poppins, 'Source Sans Pro';
      }
      .kontak-XiD {
        font-size: 1.5rem;
        font-weight: 700;
        color: #f4dfb6;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        width: 6.4rem;
        position: absolute;
        top: 4.2rem;
        line-height: 1.5;
        height: 2.3rem;
        left: 98rem;
      }
      .group-1-3Rf {
        top: 0;
        width: 19rem;
        height: 16.3rem;
        position: absolute;
        left: 62.5rem;
        box-sizing: border-box;
        padding: 4.2rem 3.172rem 4.274rem 3.1rem;
        background-color: #ca2129;
        border-radius: 0 0 3rem 3rem;

        .group-hWD {
          height: 7.8265rem;
          object-fit: contain;
          vertical-align: top;
          width: 12.7285rem;
        }
      }
    }
  }
  .footer-mFB {
    width: 100%;
    height: 39.7rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;

    .rectangle-6-u6V {
      height: 48.4rem;
      position: absolute;
      left: 0;
      top: -0.4rem;
      background-color: #9a4444;
      width: 144rem;
    }
    .terima-kasih-sudah-mampir-C5b {
      color: #f4dfb6;
      white-space: nowrap;
      height: 7.2rem;
      top: 8.2rem;
      font-weight: 700;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      width: 74.4rem;
      position: absolute;
      left: 34.8rem;
      font-size: 4.8rem;
    }
    .line-1-3c1 {
      top: 18.4rem;
      background-color: #f4dfb6;
      width: 114.7rem;
      height: 0.3rem;
      position: absolute;
      left: 14.8rem;
    }
    .auto-group-dutt-yVf {
      width: 114.7rem;
      height: 5.0389rem;
      position: absolute;
      left: 14.8rem;
      top: 21.3rem;
      display: flex;
      align-items: center;

      .group-gQ5 {
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 96.4rem;
        width: 9rem;
        height: 5.0389rem;
      }
      .vector-cYd {
        margin: 0.055rem 1.3rem 0rem 0rem;
        width: 2.2rem;
        height: 2.0943rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-LUd {
        width: 2.3rem;
        height: 2.0943rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.237rem 1.3rem 0rem 0rem;
      }
      .vector-rhs {
        margin-top: 0.0553rem;
        width: 2.2rem;
        height: 2.0943rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .ic-outline-facebook-Cmj {
      width: 2.4rem;
      height: 2.4rem;
      position: absolute;
      left: 115.6rem;
      top: 35.7rem;
      overflow: hidden;
    }
  }
}
