
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.home-page-1-EHj {
  width: 100%;
  height: 333.6rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .auto-group-ckxx-n4M {
    width: 144rem;
    height: 228.9rem;
    position: absolute;
    left: 0;
    top: 9.1rem;

    .body-1-7cR {
      position: absolute;
      left: 0;
      top: 48.1rem;
      overflow: hidden;
      background-color: #f4dfb6;
      width: 144rem;
      height: 180.8rem;

      .auto-group-pdlr-ecM {
        top: 9rem;
        width: 77.7988rem;
        height: 53.8579rem;
        position: absolute;
        left: 33.4rem;

        .produk-kami-yed {
          width: 31.7rem;
          height: 7.2rem;
          left: 22.7rem;
          line-height: 1.5;
          color: #9a4444;
          position: absolute;
          top: 0;
          font-size: 4.8rem;
          font-weight: 700;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .frame-2-fnM {
          left: 0;
          top: 3.6rem;
          box-sizing: border-box;
          padding: 7.1rem 26.42rem 5.658rem 21.9rem;
          width: 77.7988rem;
          height: 50.2579rem;
          cursor: pointer;
          position: absolute;

          .group-11-maV {
            height: 100%;
            position: relative;
            width: 100%;

            .paladang-supergrafis-cnah-ijo-7uF {
              height: 24.8787rem;
              position: absolute;
              left: 4.6rem;
              top: 3.7rem;
              object-fit: cover;
              vertical-align: top;
              width: 24.8787rem;
            }
            .paladang-supergrafis-cnah-ijo-EU5 {
              object-fit: cover;
              vertical-align: top;
              width: 21.2988rem;
              height: 21.2988rem;
              position: absolute;
              left: 5.1rem;
              top: 11.1rem;
            }
            .paladang-supergrafis-cnah-oren-ZWM {
              width: 28.6825rem;
              height: 28.8153rem;
              position: absolute;
              left: 0;
              top: 7.3rem;
              object-fit: cover;
              vertical-align: top;
            }
            .paladang-supergrafis-cnah-oren-5zV {
              top: 14.8rem;
              object-fit: cover;
              vertical-align: top;
              width: 13.7732rem;
              height: 13.782rem;
              position: absolute;
              left: 10.1rem;
            }
            .paladang-supergrafis-cnah-merah-1-CpD {
              left: 4.6rem;
              top: 7.7rem;
              object-fit: cover;
              vertical-align: top;
              width: 21.5874rem;
              height: 21.5874rem;
              position: absolute;
            }
            .paladang-supergrafis-cnah-merah-2-JsF {
              vertical-align: top;
              width: 16.3813rem;
              height: 16.3813rem;
              position: absolute;
              left: 10rem;
              top: 14.8rem;
              object-fit: cover;
            }
            .paladang-transparant-QQV {
              width: 25.1rem;
              height: 37.5rem;
              position: relative;
              left: 3.6rem;
              top: 0;
              background-size: 224.937% 100.026%;
              background-position: -15.4657rem -0.0049rem;
              background-image: url('REPLACE_IMAGE:483368e8ed0f3d37bb4d1e4ca344e352c6167e39');
            }
          }
        }
      }
      .manisan-paladang-5mX {
        height: 5.4rem;
        left: 54.5rem;
        top: 64.5rem;
        text-align: center;
        font-weight: 700;
        color: #9a4444;
        font-family: Poppins, 'Source Sans Pro';
        width: 34.9rem;
        position: absolute;
        font-size: 3.6rem;
        line-height: 1.5;
        white-space: nowrap;
      }
      .merupakan-manisan-yang-terbuat-dari-bahan-buah-pala-dan-buah-pepaya-memiliki-sensahi-hangat-dari-buah-pala-dan-rasa-segar-dari-pepaya-camilan-ini-cocok-untuk-menemani-aktivitasmu-aCV {
        height: 9rem;
        text-align: center;
        font-weight: 500;
        line-height: 1.5;
        color: #9a4444;
        font-family: Poppins, 'Source Sans Pro';
        width: 77.2rem;
        left: 33.35rem;
        top: 70.2rem;
        font-size: 2rem;
        position: absolute;
      }
      .auto-group-hhbb-1Ho {
        width: 68.7793rem;
        height: 55.3rem;
        position: absolute;
        left: 36.5rem;
        top: 81.2rem;

        .group-2-Lay {
          text-align: center;
          background-color: #9a4444;
          height: 4.8375rem;
          position: absolute;
          white-space: nowrap;
          display: flex;
          align-items: center;
          width: 14.7428rem;
          left: 28.1rem;
          top: 0;
          font-weight: 700;
          line-height: 1.5;
          color: #f4dfb6;
          cursor: pointer;
          font-size: 2.1rem;
          font-family: Poppins, 'Source Sans Pro';
          justify-content: center;
          border-radius: 0.6rem;
        }
        .frame-1-bG1 {
          position: absolute;
          left: 0;
          top: 4.8rem;
          box-sizing: border-box;
          padding: 11.6rem 20.479rem 0rem 22.3rem;
          width: 68.7793rem;
          height: 50.5rem;
          cursor: pointer;

          .group-10-VsB {
            width: 100%;
            height: 100%;
            position: relative;

            .seblak1-rBw {
              position: absolute;
              left: 1.1rem;
              top: 5.5rem;
              background-size: 403.637% 308.664%;
              background-position: -54.7773rem -16.162rem;
              background-image: url('REPLACE_IMAGE:2293c1740c535e4eed042fa9b8a18dc06b402b4e');
              width: 23.8147rem;
              height: 22.059rem;

              .seblak1-rBw-bg {
                position: relative;
                background-image: url('REPLACE_IMAGE:2293c1740c535e4eed042fa9b8a18dc06b402b4e');
                width: 23.8147rem;
                height: 22.059rem;
              }
            }
            .seblak1-ug1 {
              height: 12.1246rem;
              position: absolute;
              left: 7rem;
              top: 21.7rem;
              background-size: 403.637% 308.664%;
              background-position: -29.8852rem -8.8999rem;
              background-image: url('REPLACE_IMAGE:2293c1740c535e4eed042fa9b8a18dc06b402b4e');
              width: 12.8927rem;

              .seblak1-ug1-bg {
                width: 12.8927rem;
                height: 12.1246rem;
                position: relative;
                background-image: url('REPLACE_IMAGE:2293c1740c535e4eed042fa9b8a18dc06b402b4e');
              }
            }
            .seblak1-Pr5 {
              width: 17.7211rem;
              height: 20.0311rem;
              position: absolute;
              left: 3.2rem;
              top: 6.4rem;
              background-size: 403.637% 308.664%;
              background-position: -43.5026rem -15.1632rem;
              background-image: url('REPLACE_IMAGE:2293c1740c535e4eed042fa9b8a18dc06b402b4e');

              .seblak1-Pr5-bg {
                width: 17.7211rem;
                height: 20.0311rem;
                position: relative;
                background-image: url('REPLACE_IMAGE:2293c1740c535e4eed042fa9b8a18dc06b402b4e');
              }
            }
            .cengek-4-VPK {
              background-size: 215.126% 188.93%;
              background-position: -8.7403rem -2.1098rem;
              background-image: url('REPLACE_IMAGE:f6126df009280a7338e047bb42028d81fc101767');
              width: 12.1937rem;
              height: 12.9089rem;
              position: absolute;
              left: 7.7rem;
              top: 22.8rem;

              .cengek-4-VPK-bg {
                width: 12.1937rem;
                height: 12.9089rem;
                position: relative;
                background-image: url('REPLACE_IMAGE:f6126df009280a7338e047bb42028d81fc101767');
              }
            }
            .cengek-5-Nxu {
              height: 13.407rem;
              position: absolute;
              left: 7.7rem;
              top: 13.6rem;
              background-size: 215.126% 188.93%;
              background-position: -10.9033rem -1.0672rem;
              background-image: url('REPLACE_IMAGE:f6126df009280a7338e047bb42028d81fc101767');
              width: 14.91rem;

              .cengek-5-Nxu-bg {
                width: 14.91rem;
                height: 13.407rem;
                position: relative;
                background-image: url('REPLACE_IMAGE:f6126df009280a7338e047bb42028d81fc101767');
              }
            }
            .cengek-6-5MX {
              background-position: -11.2164rem -1.3492rem;
              background-image: url('REPLACE_IMAGE:f6126df009280a7338e047bb42028d81fc101767');
              width: 15.4538rem;
              height: 14.0412rem;
              position: absolute;
              left: 3.5rem;
              top: 11.8rem;
              background-size: 215.126% 188.93%;

              .cengek-6-5MX-bg {
                height: 14.0412rem;
                position: relative;
                background-image: url('REPLACE_IMAGE:f6126df009280a7338e047bb42028d81fc101767');
                width: 15.4538rem;
              }
            }
            .mockupkemasanseblak-kyT {
              background-image: url('REPLACE_IMAGE:2ce45a9bdbe68bc84f74091e6d82532a58e9e0e0');
              width: 26rem;
              height: 38.9rem;
              position: relative;
              left: 0;
              top: 0;
              background-size: 224.561% 100%;
              background-position: -16.4781rem -0rem;
            }
          }
        }
      }
      .keripik-seblak-FvD {
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        height: 5.4rem;
        left: 58.7rem;
        top: 142.3rem;
        text-align: center;
        width: 26.5rem;
        position: absolute;
        color: #9a4444;
        white-space: nowrap;
      }
      .keripik-seblak-aulie-terbuat-dari-kerupuk-aci-pilihan-yang-dimasak-dengan-bumbu-pedas-yang-menggugah-selera-teksturnya-yang-renyah-akan-membuat-kamu-ketagihan-keripik-seblak-ini-juga-dapat-disajikan-sebagai-camilan-atau-lauk-pauk-pendamping-mNm {
        top: 148.4rem;
        font-size: 2rem;
        font-weight: 500;
        font-family: Montserrat Alternates, 'Source Sans Pro';
        width: 76.4rem;
        position: absolute;
        text-align: center;
        line-height: 1.2175;
        color: #9a4444;
        height: 9.8rem;
        left: 33.8rem;
      }
      .group-3-aLD {
        cursor: pointer;
        text-align: center;
        font-size: 2.1rem;
        font-weight: 700;
        font-family: Poppins, 'Source Sans Pro';
        justify-content: center;
        color: #f4dfb6;
        display: flex;
        border-radius: 0.6rem;
        position: absolute;
        top: 159.7rem;
        line-height: 1.5;
        white-space: nowrap;
        background-color: #9a4444;
        width: 14.7428rem;
        height: 4.8375rem;
        left: 64.6rem;
        align-items: center;
      }
    }
    .header-2i1 {
      left: 0;
      top: 0;
      overflow: hidden;
      width: 144rem;
      height: 59.7rem;
      position: absolute;

      .subtract-YwF {
        width: 144rem;
        height: 67.5rem;
        position: absolute;
        left: 0;
        top: -9.1rem;
        object-fit: contain;
        vertical-align: top;
      }
      .nikmati-kebersamaan-dengan-produk-aulie-tER {
        width: 51.6rem;
        height: 21.6rem;
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 1.5;
        position: absolute;
        left: 14.2rem;
        top: 13.1rem;
        color: #f4dfb6;
        font-family: Poppins, 'Source Sans Pro';
      }
      .paladang-supergrafis-cnah-ijo-BUR {
        position: absolute;
        left: 57.8rem;
        top: 30.3rem;
        object-fit: cover;
        vertical-align: top;
        width: 28.4rem;
        height: 28.4rem;
      }
      .paladang-supergrafis-cnah-oren-JZ3 {
        vertical-align: top;
        width: 43.5841rem;
        height: 43.7859rem;
        position: absolute;
        left: 0;
        top: 14.9rem;
        object-fit: cover;
      }
      .seblak1-1yF {
        position: absolute;
        left: 120.4rem;
        top: -2.5rem;
        background-size: 403.637% 308.664%;
        background-position: -56.2074rem -18.7356rem;
        background-image: url('REPLACE_IMAGE:2293c1740c535e4eed042fa9b8a18dc06b402b4e');
        width: 22.0738rem;
        height: 26.207rem;

        .seblak1-1yF-bg {
          width: 22.0738rem;
          height: 26.207rem;
          position: relative;
          background-image: url('REPLACE_IMAGE:2293c1740c535e4eed042fa9b8a18dc06b402b4e');
        }
      }
      .seblak1-GuB {
        top: 31.8rem;
        background-size: 403.637% 308.664%;
        background-position: -34.702rem -9.7413rem;
        background-image: url('REPLACE_IMAGE:2293c1740c535e4eed042fa9b8a18dc06b402b4e');
        width: 14.9583rem;
        height: 13.6766rem;
        position: absolute;
        left: 112.9rem;

        .seblak1-GuB-bg {
          width: 14.9583rem;
          height: 13.6766rem;
          position: relative;
          background-image: url('REPLACE_IMAGE:2293c1740c535e4eed042fa9b8a18dc06b402b4e');
        }
      }
      .seblak1-wkR {
        top: 0.2rem;
        background-size: 403.637% 308.664%;
        background-position: -36.5823rem -10.693rem;
        background-image: url('REPLACE_IMAGE:2293c1740c535e4eed042fa9b8a18dc06b402b4e');
        width: 15.7374rem;
        height: 14.7355rem;
        position: absolute;
        left: 6.3rem;

        .seblak1-wkR-bg {
          width: 15.7374rem;
          height: 14.7355rem;
          position: relative;
          background-image: url('REPLACE_IMAGE:2293c1740c535e4eed042fa9b8a18dc06b402b4e');
        }
      }
      .seblak1-32m {
        left: 134.6rem;
        top: 42.8rem;
        background-size: 403.637% 308.664%;
        background-position: -36.5823rem -10.693rem;
        background-image: url('REPLACE_IMAGE:2293c1740c535e4eed042fa9b8a18dc06b402b4e');
        width: 15.7374rem;
        height: 14.7355rem;
        position: absolute;

        .seblak1-32m-bg {
          width: 15.7374rem;
          height: 14.7355rem;
          position: relative;
          background-image: url('REPLACE_IMAGE:2293c1740c535e4eed042fa9b8a18dc06b402b4e');
        }
      }
      .group-1-w89 {
        top: 0.2rem;
        width: 60.0658rem;
        height: 53.7432rem;
        position: absolute;
        left: 72rem;

        .mockupkemasanseblak-t3P {
          background-position: -22.5833rem -0rem;
          background-image: url('REPLACE_IMAGE:2ce45a9bdbe68bc84f74091e6d82532a58e9e0e0');
          width: 35.7658rem;
          height: 46.6815rem;
          position: relative;
          left: 24.3rem;
          top: 0.6rem;
          background-size: 224.561% 100%;
        }
        .paladang-transparant-BHP {
          background-position: -25.7394rem -0.0071rem;
          background-image: url('REPLACE_IMAGE:483368e8ed0f3d37bb4d1e4ca344e352c6167e39');
          width: 41.6409rem;
          height: 53.7432rem;
          position: relative;
          left: 0;
          top: 0;
          background-size: 224.937% 100.026%;
        }
      }
      .rectangle-gjw {
        height: 17.8745rem;
        position: relative;
        left: 66.7627rem;
        top: 3.7627rem;
        background-size: 100% 100%;
        background-image: url('REPLACE_IMAGE:93cd6996978f4284ff66f478ef133c2e6b9a3506');
        width: 17.8745rem;
      }
    }
  }
  .body-2-zkd {
    height: 55.9rem;
    position: absolute;
    left: 0;
    display: flex;
    box-sizing: border-box;
    padding: 0rem 22.9rem 0rem 22.7rem;
    width: 144rem;
    top: 238rem;
    overflow: hidden;
    align-items: center;
    background-color: #f4dfb6;

    .group-JmK {
      box-sizing: border-box;
      padding: 1.85rem 1.608rem 3.056rem 1.608rem;
      width: 26.7rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      margin: 17.5rem 2.7rem 12.907rem 0rem;
      height: calc(100% - 30.4066rem);
      background-color: #ffffff;
      border-radius: 1.7rem;
      flex-shrink: 0;

      .auto-group-8vtf-CLu {
        background-color: #9a4444;
        border-radius: 1.9rem;
        flex-shrink: 0;
        margin-bottom: 2.4931rem;
        width: 100%;
        height: 15.6822rem;
        position: relative;

        .paladang-transparant-wJV {
          position: relative;
          left: 0.4825rem;
          background-size: 224.937% 100.026%;
          background-position: -5.8472rem -0.0019rem;
          background-image: url('REPLACE_IMAGE:483368e8ed0f3d37bb4d1e4ca344e352c6167e39');
          border-radius: 1.7rem;
          width: 9.4898rem;
          height: 14.2346rem;
          top: 0.7238rem;
        }
        .manisan-paladang-znZ {
          width: 12rem;
          left: 9.9723rem;
          font-weight: 700;
          line-height: 1.5;
          color: #f6ddc5;
          font-family: Poppins, 'Source Sans Pro';
          height: 7.2rem;
          position: absolute;
          top: 4.584rem;
          font-size: 2.4rem;
        }
      }
      .auto-group-v4jz-Uxd {
        display: flex;
        column-gap: 0.6434rem;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 4.343rem 0rem 4.504rem;
        width: calc(100% - 8.8464rem);

        .star-3-P41 {
          width: 2.4127rem;
          height: 2.4127rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .star-2-i6H {
          width: 2.4127rem;
          height: 2.4127rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .star-1-rTP {
          width: 2.4127rem;
          height: 2.4127rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .star-5-PCR {
          width: 2.4127rem;
          height: 2.4127rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .star-4-jXB {
          height: 2.4127rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 2.4127rem;
        }
      }
    }
    .auto-group-ueey-r61 {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 2.5rem 9.8rem 0rem;
      width: 39.8rem;

      .kata-pelanggan-B8H {
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 1.5;
        color: #9a4444;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 7.2rem;
      }
      .group-hcR {
        margin: 0rem 3.4rem 0rem 3.2rem;
        width: calc(100% - 6.6rem);
        height: 31.6997rem;
        position: relative;
        background-color: #ffffff;
        border-radius: 1.7rem;
        flex-shrink: 0;

        .rectangle-13-1t1 {
          height: 19.5rem;
          position: absolute;
          left: 2rem;
          top: 2.3rem;
          background-color: #ca2129;
          border-radius: 1.9rem;
          width: 29.2rem;
        }
        .paladang-transparant-9UR {
          width: 11.8rem;
          height: 17.7rem;
          left: 2.6rem;
          background-size: 224.937% 100.026%;
          background-position: -7.2707rem -0.0023rem;
          border-radius: 1.7rem;
          position: relative;
          top: 3.2rem;
          background-image: url('REPLACE_IMAGE:483368e8ed0f3d37bb4d1e4ca344e352c6167e39');
        }
        .star-1-QfF {
          vertical-align: top;
          width: 3rem;
          height: 3rem;
          position: absolute;
          left: 15.2rem;
          top: 24.9rem;
          object-fit: contain;
        }
        .star-2-9cq {
          position: absolute;
          left: 11.4rem;
          top: 24.9rem;
          object-fit: contain;
          vertical-align: top;
          width: 3rem;
          height: 3rem;
        }
        .star-3-Vgh {
          width: 3rem;
          height: 3rem;
          position: absolute;
          left: 7.6rem;
          top: 24.9rem;
          object-fit: contain;
          vertical-align: top;
        }
        .star-4-qVf {
          width: 3rem;
          height: 3rem;
          position: absolute;
          left: 22.8rem;
          top: 24.9rem;
          object-fit: contain;
          vertical-align: top;
        }
        .star-5-z7f {
          height: 3rem;
          position: absolute;
          left: 19rem;
          top: 24.9rem;
          object-fit: contain;
          vertical-align: top;
          width: 3rem;
        }
        .group-8jf {
          height: 31.6997rem;
          position: absolute;
          left: 0;
          top: 0;
          align-items: center;
          box-sizing: border-box;
          padding: 2.3rem 2rem 3.8rem 2rem;
          width: 33.2rem;
          display: flex;
          border-radius: 1.7rem;
          flex-direction: column;
          background-color: #ffffff;

          .auto-group-13cr-3rd {
            box-sizing: border-box;
            padding: 0.9rem 1.8rem 0.9rem 0.6rem;
            border-radius: 1.9rem;
            flex-shrink: 0;
            margin-bottom: 3.1rem;
            display: flex;
            align-items: center;
            background-color: #9a4444;
            width: 100%;

            .paladang-transparant-mnd {
              height: 17.7rem;
              position: relative;
              background-size: 224.937% 100.026%;
              background-position: -7.2707rem -0.0023rem;
              background-image: url('REPLACE_IMAGE:483368e8ed0f3d37bb4d1e4ca344e352c6167e39');
              border-radius: 1.7rem;
              flex-shrink: 0;
              width: 11.8rem;
            }
            .manisan-paladang-fd7 {
              max-width: 15rem;
              font-size: 3rem;
              font-weight: 700;
              line-height: 1.5;
              color: #f6ddc5;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              margin-top: 0.9rem;
            }
          }
          .auto-group-tyky-mw3 {
            width: calc(100% - 11rem);
            display: flex;
            column-gap: 0.8rem;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 5.4rem 0rem 5.6rem;

            .star-3-sz5 {
              width: 3rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .star-2-qR7 {
              width: 3rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .star-1-Bzm {
              width: 3rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .star-5-k2H {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 3rem;
              height: 3rem;
            }
            .star-4-uA5 {
              flex-shrink: 0;
              width: 3rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
      }
    }
    .group-pXw {
      padding: 1.85rem 1.608rem 3.056rem 1.608rem;
      width: 26.7rem;
      height: calc(100% - 30.4066rem);
      margin: 16.8rem 0rem 13.607rem 0rem;
      box-sizing: border-box;
      align-items: center;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      border-radius: 1.7rem;
      flex-shrink: 0;

      .auto-group-vntm-7mw {
        height: 15.6822rem;
        position: relative;
        background-color: #9a4444;
        border-radius: 1.9rem;
        flex-shrink: 0;
        margin-bottom: 2.4931rem;
        width: 100%;

        .keripik-seblak-4hB {
          font-weight: 700;
          color: #f6ddc5;
          font-family: Poppins, 'Source Sans Pro';
          height: 7.2rem;
          position: absolute;
          top: 4.584rem;
          font-size: 2.4rem;
          line-height: 1.5;
          width: 8.8rem;
          left: 9.9723rem;
        }
        .mockupkemasanseblak-mbb {
          height: 13.9rem;
          position: relative;
          left: 0.6916rem;
          top: 1.4503rem;
          background-size: 224.561% 100%;
          background-position: -5.8941rem -0rem;
          background-image: url('REPLACE_IMAGE:2ce45a9bdbe68bc84f74091e6d82532a58e9e0e0');
          width: 9.3rem;
        }
      }
      .auto-group-pj3k-FFs {
        margin: 0rem 4.343rem 0rem 4.504rem;
        width: calc(100% - 8.8464rem);
        display: flex;
        column-gap: 0.6434rem;
        align-items: center;
        flex-shrink: 0;

        .star-3-ANq {
          width: 2.4127rem;
          height: 2.4127rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .star-2-WSh {
          width: 2.4127rem;
          height: 2.4127rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .star-1-3xR {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 2.4127rem;
          height: 2.4127rem;
        }
        .star-5-oAu {
          width: 2.4127rem;
          height: 2.4127rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .star-4-9kZ {
          height: 2.4127rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 2.4127rem;
        }
      }
    }
  }
  .footer-GaH {
    top: 293.9rem;
    overflow: hidden;
    width: 144rem;
    height: 39.7rem;
    position: absolute;
    left: 0;

    .rectangle-6-cPF {
      width: 144rem;
      height: 48.4rem;
      position: absolute;
      left: 0;
      top: -0.4rem;
      background-color: #9a4444;
    }
    .terima-kasih-sudah-mampir-wwK {
      font-size: 4.8rem;
      width: 74.4rem;
      height: 7.2rem;
      position: absolute;
      left: 34.7rem;
      top: 8.2rem;
      font-weight: 700;
      line-height: 1.5;
      color: #f4dfb6;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
    .line-1-eaq {
      position: absolute;
      left: 14.7rem;
      top: 18.4rem;
      background-color: #f4dfb6;
      width: 114.7rem;
      height: 0.3rem;
    }
    .group-yt1 {
      left: 14.7rem;
      top: 21.3rem;
      object-fit: contain;
      vertical-align: top;
      width: 9rem;
      height: 5.0389rem;
      position: absolute;
    }
    .vector-v2Z {
      height: 2.0943rem;
      position: absolute;
      left: 120.1rem;
      top: 22.8rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.2rem;
    }
    .ic-outline-facebook-THP {
      width: 2.4rem;
      height: 2.4rem;
      position: absolute;
      left: 115.5rem;
      top: 35.7rem;
      overflow: hidden;
    }
    .vector-nqT {
      top: 22.8911rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.3rem;
      height: 2.0943rem;
      position: absolute;
      left: 123.6rem;
    }
    .vector-KqP {
      width: 2.2rem;
      height: 2.0943rem;
      position: absolute;
      left: 127.2rem;
      top: 22.8rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .navbar-TRo {
    top: 0;
    overflow: hidden;
    width: 144rem;
    height: 16.3rem;
    position: absolute;
    left: 0;

    .rectangle-2-bnu {
      width: 144rem;
      height: 9.1rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #9a4444;
    }
    .beranda-LVb {
      font-size: 1.5rem;
      color: #f4dfb6;
      white-space: nowrap;
      height: 2.3rem;
      left: 38.7rem;
      top: 4.1rem;
      font-weight: 700;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      width: 7.3rem;
      position: absolute;
    }
    .belanja-rD3 {
      color: #f4dfb6;
      width: 6.8rem;
      height: 2.3rem;
      position: absolute;
      left: 50.7rem;
      top: 4.2rem;
      font-size: 1.5rem;
      font-weight: 700;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      cursor: pointer;
      line-height: 1.5;
    }
    .tentang-ZdF {
      width: 7.1rem;
      font-size: 1.5rem;
      white-space: nowrap;
      height: 2.3rem;
      cursor: pointer;
      position: absolute;
      left: 85.8rem;
      top: 4.2rem;
      font-weight: 700;
      line-height: 1.5;
      color: #f4dfb6;
      font-family: Poppins, 'Source Sans Pro';
    }
    .kontak-stq {
      width: 6.4rem;
      position: absolute;
      left: 98rem;
      top: 4.2rem;
      font-size: 1.5rem;
      font-weight: 700;
      color: #f4dfb6;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.3rem;
      cursor: pointer;
      line-height: 1.5;
    }
    .group-1-PsB {
      border-radius: 0 0 3rem 3rem;
      width: 19rem;
      height: 16.3rem;
      position: absolute;
      background-color: #f4dfb6;
      box-sizing: border-box;
      padding: 4.2rem 3.172rem 4.274rem 3.1rem;
      left: 62.5rem;
      top: 0;

      .group-iPf {
        width: 12.7285rem;
        height: 7.8265rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
}
