
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.tentang-paladang-Uzh {
  background-color: #ffffff;
  width: 100%;
  height: 261rem;
  position: relative;
  overflow: hidden;

  .body-1-2FX {
    background-color: #f4dfb6;
    width: 144rem;
    height: 211.7rem;
    position: absolute;
    left: 0;
    top: 9.1rem;
    overflow: hidden;

    .auto-group-y5ed-8pM {
      height: 60.2rem;
      position: absolute;
      left: 15.2rem;
      top: 11.1rem;
      width: 113rem;

      .manisan-paladang-3wK {
        top: 0;
        font-size: 4.8rem;
        color: #9a4444;
        white-space: nowrap;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        width: 46.5rem;
        height: 7.2rem;
        position: absolute;
        left: 33.55rem;
        text-align: center;
        font-weight: 700;
      }
      .manisan-paladang-XrV {
        position: absolute;
        left: 0;
        top: 4.7rem;
        width: 53.1574rem;
        height: 52.3rem;
        cursor: pointer;

        .paladang-supergrafis-cnah-merah-r85 {
          vertical-align: top;
          width: 11.8rem;
          height: 11.8rem;
          position: absolute;
          left: 7.7rem;
          top: 19.2rem;
          object-fit: cover;
        }
        .paladang-supergrafis-cnah-merah-8bP {
          vertical-align: top;
          width: 11.8rem;
          height: 11.8rem;
          position: absolute;
          left: 7.7rem;
          top: 19.2rem;
          object-fit: cover;
        }
        .pala-illustration-1-qkh {
          left: 24.3069rem;
          top: 0rem;
          object-fit: cover;
          vertical-align: top;
          width: 28.1215rem;
          height: 28.1215rem;
          position: absolute;
        }
        .paladang-transparant-AY5 {
          background-image: url('REPLACE_IMAGE:69d2ee1c3ffa3be7db72b8a8415be8bf50a5c571');
          width: 30.6588rem;
          height: 44.0031rem;
          position: relative;
          left: 10.7269rem;
          top: 3.9561rem;
          background-size: 215.152% 100%;
          background-position: -18.0159rem 0;
        }
        .paladang-1-G5K {
          top: 28.1rem;
          object-fit: cover;
          vertical-align: top;
          width: 22.3438rem;
          height: 21.9804rem;
          position: absolute;
          left: 3.8rem;
        }
        .paladang-supergrafis-cnah-ijo-abo {
          top: 19.2426rem;
          object-fit: cover;
          vertical-align: top;
          width: 20.2148rem;
          height: 20.2148rem;
          position: absolute;
          left: 32.9426rem;
        }
        .paladang-supergrafis-cnah-oren-JXo {
          vertical-align: top;
          width: 13.5851rem;
          height: 13.6609rem;
          position: absolute;
          left: 0;
          top: 8.5rem;
          object-fit: cover;
        }
        .paladang-supergrafis-cnah-merah-SP7 {
          top: 36rem;
          object-fit: cover;
          vertical-align: top;
          width: 16.3rem;
          height: 16.3rem;
          position: absolute;
          left: 26.7rem;
        }
      }
      .manisan-paladang-merpakan-manisan-buah-yang-berbahan-buah-pala-dan-buah-pepaya-dalam-proses-pembuatannya-terdapat-beberapa-tahap-adapun-tahap-pembuatan-manisan-ini-adalah--9oK {
        width: 55.3rem;
        line-height: 1.5;
        color: #9a4444;
        font-weight: 500;
        font-family: Poppins, 'Source Sans Pro';
        height: 12rem;
        position: absolute;
        left: 56.8rem;
        top: 12.7rem;
        font-size: 2rem;
      }
      .pertama-buah-pala-dan-buah-pepaya-muda-yang-sudah-dibersihkan-diparut-hingga-halus-kemudian-dicampur-jadi-satu-dengan-adonan-yang-sudah-diberi-pewarna-makanan-lalu-kembali-diaduk-sambil-dimasak-setelah-matang-manisan-paladang-dibentuk-bulat-bulat-kecil-lalu-dilumuri-gula-pasir-dan-dijemur-beberapa-jam-sampai-benar-benar-kering-setelah-kering-manisan-paladang-siap-dibungkus-dan-dipasarkan-ke-sejumlah-toko-oleh-oleh-bQR {
        position: absolute;
        color: #ca2129;
        font-family: Montserrat Alternates, 'Source Sans Pro';
        line-height: 1.218999958;
        width: 56.1rem;
        height: 27rem;
        left: 56.9rem;
        top: 25.5rem;
        font-size: 2rem;
        font-weight: 500;

        .pertama-buah-pala-dan-buah-pepaya-muda-yang-sudah-dibersihkan-diparut-hingga-halus-kemudian-dicampur-jadi-satu-dengan-adonan-yang-sudah-diberi-pewarna-makanan-lalu-kembali-diaduk-sambil-dimasak-setelah-matang-manisan-paladang-dibentuk-bulat-bulat-kecil-lalu-dilumuri-gula-pasir-dan-dijemur-beberapa-jam-sampai-benar-benar-kering-setelah-kering-manisan-paladang-siap-dibungkus-dan-dipasarkan-ke-sejumlah-toko-oleh-oleh-bQR-sub-0 {
          line-height: 1.5;
          color: #9a4444;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 500;
        }
        .pertama-buah-pala-dan-buah-pepaya-muda-yang-sudah-dibersihkan-diparut-hingga-halus-kemudian-dicampur-jadi-satu-dengan-adonan-yang-sudah-diberi-pewarna-makanan-lalu-kembali-diaduk-sambil-dimasak-setelah-matang-manisan-paladang-dibentuk-bulat-bulat-kecil-lalu-dilumuri-gula-pasir-dan-dijemur-beberapa-jam-sampai-benar-benar-kering-setelah-kering-manisan-paladang-siap-dibungkus-dan-dipasarkan-ke-sejumlah-toko-oleh-oleh-bQR-sub-1 {
          font-family: Poppins, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.5;
          color: #9a4444;
        }
        .pertama-buah-pala-dan-buah-pepaya-muda-yang-sudah-dibersihkan-diparut-hingga-halus-kemudian-dicampur-jadi-satu-dengan-adonan-yang-sudah-diberi-pewarna-makanan-lalu-kembali-diaduk-sambil-dimasak-setelah-matang-manisan-paladang-dibentuk-bulat-bulat-kecil-lalu-dilumuri-gula-pasir-dan-dijemur-beberapa-jam-sampai-benar-benar-kering-setelah-kering-manisan-paladang-siap-dibungkus-dan-dipasarkan-ke-sejumlah-toko-oleh-oleh-bQR-sub-2 {
          line-height: 1.5;
          color: #9a4444;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 500;
        }
        .pertama-buah-pala-dan-buah-pepaya-muda-yang-sudah-dibersihkan-diparut-hingga-halus-kemudian-dicampur-jadi-satu-dengan-adonan-yang-sudah-diberi-pewarna-makanan-lalu-kembali-diaduk-sambil-dimasak-setelah-matang-manisan-paladang-dibentuk-bulat-bulat-kecil-lalu-dilumuri-gula-pasir-dan-dijemur-beberapa-jam-sampai-benar-benar-kering-setelah-kering-manisan-paladang-siap-dibungkus-dan-dipasarkan-ke-sejumlah-toko-oleh-oleh-bQR-sub-3 {
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.5;
          color: #9a4444;
          font-family: Poppins, 'Source Sans Pro';
        }
        .pertama-buah-pala-dan-buah-pepaya-muda-yang-sudah-dibersihkan-diparut-hingga-halus-kemudian-dicampur-jadi-satu-dengan-adonan-yang-sudah-diberi-pewarna-makanan-lalu-kembali-diaduk-sambil-dimasak-setelah-matang-manisan-paladang-dibentuk-bulat-bulat-kecil-lalu-dilumuri-gula-pasir-dan-dijemur-beberapa-jam-sampai-benar-benar-kering-setelah-kering-manisan-paladang-siap-dibungkus-dan-dipasarkan-ke-sejumlah-toko-oleh-oleh-bQR-sub-4 {
          font-family: Poppins, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.5;
          color: #9a4444;
        }
      }
      .selain-rasanya-yang-unik-manisan-ini-memiliki-banyak-manfaat-karena-kedua-bahan-utamanya-merupakan-buah-kaya-manfaat-WUm {
        height: 6rem;
        position: absolute;
        left: 0;
        font-size: 2rem;
        font-family: Poppins, 'Source Sans Pro';
        width: 110.3rem;
        top: 54.2rem;
        font-weight: 500;
        line-height: 1.5;
        color: #9a4444;
      }
    }
    .auto-group-wfmx-MkH {
      left: 14.8rem;
      top: 114.7rem;
      width: 109.8788rem;
      height: 58.2rem;
      position: absolute;

      .sementara-itu-buah-pepaya-yang-kita-kenal-mampu-mengatasi-masalh-penceraan-ternyata-memiliki-banyak-manfaat-lainnya-yaitu--H89 {
        width: 53.7rem;
        height: 9rem;
        left: 0;
        top: 7.2rem;
        font-size: 2rem;
        color: #9a4444;
        position: absolute;
        font-weight: 500;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
      }
      .sering-menjadi-bahan-bercanda-dengan-disebut-sebagai-makanan-burung-buah-yang-satu-ini-terbukti-amat-baik-untuk-pencernaan-dan-membantu-menurunkan-berat-badan-karena-papaya-mengandung-enzim-bernama-papain-dan-kandungan-seratnya-tinggi-kalorinya-pun-rendah-jkq {
        width: 55.6rem;
        font-size: 2rem;
        font-weight: 500;
        color: #9a4444;
        font-family: Poppins, 'Source Sans Pro';
        height: 18rem;
        position: absolute;
        left: 0.4rem;
        top: 20.5rem;
        line-height: 1.5;
      }
      .pala-mengandung-berbagai-mineral-seperti-magnesium-mangan-zat-besi-dan-kalsium-mineral-mineral-ini-penting-untuk-kesehatan-tulang-pembentukan-darah-dan-fungsi-otot-YyB {
        height: 6rem;
        left: 0.2rem;
        top: 0;
        color: #9a4444;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        width: 109.5rem;
        position: absolute;
        font-size: 2rem;
        font-weight: 500;
      }
      .baik-untuk-pencernaan-dan-menurunkan-berat-badan-CXw {
        top: 17.4rem;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        width: 55.8rem;
        height: 3rem;
        position: absolute;
        left: 0.2rem;
        font-size: 2rem;
        font-weight: 700;
        color: #9a4444;
        white-space: nowrap;
      }
      .pepaya-merupakan-sumber-serat-antioksidan-serta-vitamin-c-makan-buah-ini-berarti-menghindarkan-diri-dari-kolesterol-tambahkan-semangkuk-pepaya-dalam-diet-harian-anda-maka-dengan-mengunyah-buah-lezat-ini-anda-bisa-terhindar-dari-penyakit-jantung-67X {
        height: 15rem;
        position: absolute;
        left: 0.4rem;
        top: 43.2rem;
        color: #9a4444;
        font-family: Poppins, 'Source Sans Pro';
        width: 56.3rem;
        font-weight: 500;
        line-height: 1.5;
        font-size: 2rem;
      }
      .menurunkan-kolesterol-7HX {
        width: 24.1rem;
        font-size: 2rem;
        line-height: 1.5;
        color: #9a4444;
        white-space: nowrap;
        height: 3rem;
        position: absolute;
        left: 0.4rem;
        top: 39.7rem;
        font-weight: 700;
        font-family: Poppins, 'Source Sans Pro';
      }
      .paladang-1-DbT {
        left: 61.9rem;
        top: 3.8794rem;
        object-fit: cover;
        vertical-align: top;
        width: 47.9788rem;
        height: 47.31rem;
        position: absolute;
      }
    }
    .selain-rasanya-yang-unik-manisan-ini-memiliki-banyak-manfaat-karena-kedua-bahan-utamanya-merupakan-buah-kaya-manfaat-Y7w {
      line-height: 1.5;
      color: #9a4444;
      font-family: Poppins, 'Source Sans Pro';
      position: absolute;
      font-weight: 500;
      left: 15.2rem;
      top: 72.5rem;
      font-size: 2rem;
      width: 110.3rem;
      height: 6rem;
    }
    .buah-pala-sendiri-merupakan-rempah-yang-memiliki-aroma-khas-selain-aroma-khasnya-buah-pala-memiliki-banyak-manfaat-bagi-kesahatan-tubuh-antara-lain--DE5 {
      top: 79.7rem;
      color: #9a4444;
      font-family: Poppins, 'Source Sans Pro';
      height: 6rem;
      left: 15.2rem;
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.5;
      width: 110.4rem;
      position: absolute;
    }
    .buah-pala-mengandung-senyawa-antioksidan-seperti-miristikin-elemicin-dan-eugenol-antioksidan-membantu-melawan-radikal-bebas-dalam-tubuh-yang-dapat-membantu-melindungi-sel-sel-dari-kerusakan-oksidatif-TeD {
      position: absolute;
      line-height: 1.5;
      left: 15.2rem;
      top: 90.3rem;
      font-size: 2rem;
      font-weight: 500;
      color: #9a4444;
      font-family: Poppins, 'Source Sans Pro';
      width: 113.3rem;
      height: 6rem;
    }
    .kaya-antioksidan-tjX {
      line-height: 1.5;
      color: #9a4444;
      font-family: Poppins, 'Source Sans Pro';
      width: 18.4rem;
      font-weight: 700;
      left: 15.2rem;
      top: 86.9rem;
      font-size: 2rem;
      white-space: nowrap;
      height: 3rem;
      position: absolute;
    }
    .buah-pala-memiliki-sifat-yang-dapat-merangsang-produksi-enzim-pencernaan-membantu-dalam-proses-pencernaan-makanan-hal-ini-dapat-membantu-mengurangi-masalah-pencernaan-seperti-gas-kembung-dan-gangguan-pencernaan-lainnya-bdw {
      font-size: 2rem;
      font-family: Poppins, 'Source Sans Pro';
      width: 111.6rem;
      position: absolute;
      left: 14.8rem;
      top: 101rem;
      height: 9rem;
      font-weight: 500;
      line-height: 1.5;
      color: #9a4444;
    }
    .meningkatkan-pencernaan-c3F {
      width: 28.1rem;
      height: 3rem;
      left: 14.8rem;
      font-size: 2rem;
      color: #9a4444;
      font-family: Poppins, 'Source Sans Pro';
      position: absolute;
      top: 97.5rem;
      font-weight: 700;
      line-height: 1.5;
      white-space: nowrap;
    }
    .mengandung-mineral-penting-KTT {
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.5;
      width: 30.5rem;
      height: 3rem;
      left: 15rem;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      top: 111.2rem;
      color: #9a4444;
    }
    .pepaya-memiliki-sifat-anti-inflamasi-yang-kuat-dan-kaya-vitamin-c-jadi-makan-pepaya-itu-baik-sekali-untuk-memperkuat-tulang-dan-melindungi-anda-terhadap-arthritis-atau-radang-sendi-zpV {
      color: #9a4444;
      height: 6rem;
      position: absolute;
      left: 15.2rem;
      font-size: 2rem;
      line-height: 1.5;
      width: 109.8rem;
      top: 177.6rem;
      font-weight: 500;
      font-family: Poppins, 'Source Sans Pro';
    }
    .melindungi-dari-radang-sendi-zxu {
      height: 3rem;
      top: 174.1rem;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 31rem;
      position: absolute;
      left: 15.2rem;
      color: #9a4444;
    }
    .menurut-studi-yang-harvard-school-of-public-health-beta-karoten-dalam-pepaya-efektif-dalam-menekan-pertumbuhan-kanker-usus-serta-kanker-prostat-juga-antioksidan-dan-flavonoid-dalam-pepaya-mencegah-kerusakan-radikal-dalam-sel-dan-membantu-mengurangi-risiko-kanker-hMX {
      left: 15.2rem;
      top: 188.3rem;
      font-size: 2rem;
      color: #9a4444;
      font-family: Poppins, 'Source Sans Pro';
      width: 108.3rem;
      height: 9rem;
      position: absolute;
      font-weight: 500;
      line-height: 1.5;
    }
    .mencegah-kanker-usus-prostat-KNu {
      font-weight: 700;
      color: #9a4444;
      white-space: nowrap;
      width: 34.2rem;
      height: 3rem;
      top: 184.8rem;
      font-size: 2rem;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      position: absolute;
      left: 15.2rem;
    }
  }
  .footer-c77 {
    width: 144rem;
    height: 39.7rem;
    position: absolute;
    left: 0.1rem;
    top: 221.3rem;
    overflow: hidden;

    .rectangle-6-85T {
      position: absolute;
      left: 0;
      top: -0.4rem;
      background-color: #9a4444;
      width: 144rem;
      height: 40.1rem;
    }
    .terima-kasih-sudah-mampir-4jo {
      position: absolute;
      left: 34.8rem;
      color: #f4dfb6;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 74.4rem;
      height: 7.2rem;
      top: 8.2rem;
      font-size: 4.8rem;
      font-weight: 700;
    }
    .line-1-mPK {
      left: 14.8rem;
      top: 18.4rem;
      background-color: #f4dfb6;
      width: 114.7rem;
      height: 0.3rem;
      position: absolute;
    }
    .group-hXs {
      position: absolute;
      left: 14.8rem;
      top: 21.3rem;
      object-fit: contain;
      vertical-align: top;
      width: 9rem;
      height: 5.0389rem;
    }
    .vector-qPB {
      width: 2.2rem;
      height: 2.0943rem;
      position: absolute;
      left: 120.2rem;
      top: 22.8rem;
      object-fit: contain;
      vertical-align: top;
    }
    .ic-outline-facebook-mXj {
      position: absolute;
      left: 115.6rem;
      top: 35.7rem;
      overflow: hidden;
      width: 2.4rem;
      height: 2.4rem;
    }
    .vector-6pu {
      left: 123.7rem;
      top: 22.8911rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.3rem;
      height: 2.0943rem;
      position: absolute;
    }
    .vector-dpq {
      height: 2.0943rem;
      position: absolute;
      left: 127.3rem;
      top: 22.8rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.2rem;
    }
  }
  .navbar-NnR {
    width: 144rem;
    height: 16.3rem;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;

    .rectangle-2-6iR {
      left: 0;
      top: 0;
      background-color: #9a4444;
      width: 144rem;
      height: 9.1rem;
      position: absolute;
    }
    .beranda-F5X {
      cursor: pointer;
      position: absolute;
      left: 38.7rem;
      font-size: 1.5rem;
      font-weight: 700;
      color: #f4dfb6;
      font-family: Poppins, 'Source Sans Pro';
      width: 7.3rem;
      height: 2.3rem;
      top: 4.1rem;
      line-height: 1.5;
      white-space: nowrap;
    }
    .belanja-9gh {
      top: 4.2rem;
      font-size: 1.5rem;
      font-weight: 700;
      width: 6.8rem;
      cursor: pointer;
      left: 50.7rem;
      color: #f4dfb6;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.3rem;
      position: absolute;
      line-height: 1.5;
    }
    .tentang-4of {
      top: 4.2rem;
      font-size: 1.5rem;
      font-family: Poppins, 'Source Sans Pro';
      width: 7.1rem;
      left: 85.8rem;
      position: absolute;
      font-weight: 700;
      line-height: 1.5;
      color: #f4dfb6;
      white-space: nowrap;
      height: 2.3rem;
      cursor: pointer;
    }
    .kontak-BNV {
      color: #f4dfb6;
      font-family: Poppins, 'Source Sans Pro';
      width: 6.4rem;
      position: absolute;
      left: 98rem;
      top: 4.2rem;
      font-weight: 700;
      line-height: 1.5;
      height: 2.3rem;
      cursor: pointer;
      font-size: 1.5rem;
      white-space: nowrap;
    }
    .group-1-gq3 {
      position: absolute;
      left: 62.5rem;
      width: 19rem;
      padding: 4.2rem 3.172rem 4.274rem 3.1rem;
      height: 16.3rem;
      top: 0;
      background-color: #ca2129;
      border-radius: 0 0 3rem 3rem;
      box-sizing: border-box;

      .group-Bmo {
        width: 12.7285rem;
        height: 7.8265rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
}
