
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.tentang-seblak-vW1 {
  height: 176rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;

  .body-1-GZs {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #f4dfb6;
    box-sizing: border-box;
    width: 144rem;
    position: absolute;
    left: 0;
    padding: 13rem 15rem 0.4rem 14.6rem;
    height: 125.6rem;
    top: 7.5rem;
    overflow: hidden;

    .auto-group-qdst-ZJ5 {
      margin: 0rem 0rem 1.2rem 3rem;
      width: 110.4rem;
      height: 57.3rem;
      position: relative;
      flex-shrink: 0;

      .keripik-seblak-GTP {
        font-weight: 700;
        color: #9a4444;
        font-family: Poppins, 'Source Sans Pro';
        width: 35.3rem;
        height: 7.2rem;
        position: absolute;
        font-size: 4.8rem;
        white-space: nowrap;
        left: 36.25rem;
        top: 0;
        text-align: center;
        line-height: 1.5;
      }
      .seblak-adalah-makanan-khas-indonesia-yang-berasal-dari-bandung-jawa-barat-makanan-ini-merupakan-hidangan-yang-terbuat-dari-berbagai-bahan-seperti-kerupuk-makaroni-tahu-bakso-dan-sayuran-yang-semuanya-direbus-bersamaan-dalam-kuah-yang-kaya-rempah-seblak-biasanya-memiliki-cita-rasa-pedas-dan-gurih-karena-penggunaan-bumbu-bumbu-seperti-cabai-bawang-putih-bawang-merah-dan-berbagai-rempah-lainnya-MDw {
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        width: 56.4rem;
        height: 27rem;
        position: absolute;
        left: 54rem;
        top: 11rem;
        font-size: 2rem;
        font-weight: 500;
        color: #9a4444;
      }
      .cara-penyajian-seblak-bisa-beragam-beberapa-variasi-seblak-termasuk-seblak-ceker-yang-menggunakan-ceker-ayam-sebagai-bahan-utama-atau-seblak-kuah-yang-memiliki-kuah-lebih-kental-ada-juga-seblak-basah-yang-memiliki-tekstur-lebih-lembut-karena-menggunakan-kuah-yang-lebih-banyak-4nZ {
        left: 53.9rem;
        top: 39.3rem;
        line-height: 1.5;
        font-weight: 500;
        color: #9a4444;
        font-family: Poppins, 'Source Sans Pro';
        width: 56.5rem;
        height: 18rem;
        position: absolute;
        font-size: 2rem;
      }
      .mockupkemasanseblak-1-dUH {
        background-position: -21.6269rem -0rem;
        background-image: url('REPLACE_IMAGE:2ce45a9bdbe68bc84f74091e6d82532a58e9e0e0');
        width: 28rem;
        height: 47.6rem;
        position: relative;
        left: 6.8rem;
        top: 5.9rem;
        background-size: 254.726% 100%;
      }
      .seblax-krispih-1-Wny {
        width: 26rem;
        height: 26rem;
        position: absolute;
        left: 24.9rem;
        top: 27.5rem;
        object-fit: cover;
        vertical-align: top;
      }
      .cengek-SRj {
        background-position: -6.9987rem -1.1855rem;
        background-image: url('REPLACE_IMAGE:8141887158b6d668133c25d83739099cd8cf6d14');
        width: 9.7rem;
        height: 10.7rem;
        position: relative;
        left: 0;
        top: 38.3rem;
        background-size: 209.494% 188.068%;
      }
      .cengek-XTB {
        background-size: 209.494% 188.068%;
        background-position: -9.8848rem -1.6841rem;
        background-image: url('REPLACE_IMAGE:8141887158b6d668133c25d83739099cd8cf6d14');
        width: 13.7rem;
        height: 15.2rem;
        position: relative;
        left: 0;
        top: 33.8rem;
      }
    }
    .seblak-menjadi-populer-di-berbagai-daerah-di-indonesia-dan-sering-dijadikan-sebagai-makanan-ringan-atau-hidangan-utama-keunikan-rasa-pedas-dan-gurih-seblak-membuatnya-menjadi-favorit-di-kalangan-pecinta-makanan-pedas-di-indonesia-293 {
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.5;
      color: #9a4444;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 3.8rem 0.9rem 0rem;
      max-width: 109.8rem;
    }
    .seiring-berjalannya-waktu-dan-bertambahnya-peminat-seblak-beberapa-orang-membuat-inovaasi-tentang-bagaimana-semua-orang-bisa-menikmati-seblak-namun-dengan-cara-yang-praktis-dan-dapat-disimpan-lebih-lama-salah-satu-solusinya-adalah-dengan-adanya-seblak-berbentuk-keripik-SiZ {
      color: #9a4444;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 2.3rem 0.9rem 0rem;
      max-width: 111.1rem;
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.5;
    }
    .dengan-bahan-yang-tidak-jauh-berbeda-keripik-seblak-berhasil-menjadi-camilan-yang-laku-dipasaran-begitu-pula-dengan-yang-aulie-lakukan-melakukan-produksi-keripik-seblak-tanpa-nemghilangkan-rasa-gurih-dan-pedas-dari-seblak-masak-pada-umumnya-fLR {
      color: #9a4444;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 0rem 0.9rem 0.5rem;
      max-width: 113.9rem;
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.5;
    }
    .keripik-seblak-aulie-terbuat-dari-kerupuk-aci-pilihan-yang-dimasak-dengan-bumbu-pedas-yang-menggugah-selera-teksturnya-yang-renyah-akan-membuat-kamu-ketagihan-keripik-seblak-ini-juga-dapat-disajikan-sebagai-camilan-atau-lauk-pauk-pendamping-lhoo-keripik-seblak-aulie-cocok-untuk-semua-kalangan-yuk-cobainsekarang-fjj {
      color: #9a4444;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 5.5rem;
      max-width: 108.9rem;
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.5;
    }
  }
  .footer-rJR {
    width: 144rem;
    height: 42.9rem;
    position: absolute;
    left: 0.1rem;
    top: 133.1rem;
    overflow: hidden;

    .rectangle-6-B5o {
      width: 144rem;
      height: 77.7rem;
      position: absolute;
      left: 0;
      top: -0.4rem;
      background-color: #9a4444;
    }
    .terima-kasih-sudah-mampir-hpq {
      width: 74.4rem;
      height: 7.2rem;
      top: 8.2rem;
      color: #f4dfb6;
      white-space: nowrap;
      position: absolute;
      left: 34.8rem;
      font-size: 4.8rem;
      font-weight: 700;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
    }
    .line-1-D2V {
      width: 114.7rem;
      height: 0.3rem;
      position: absolute;
      left: 14.8rem;
      top: 18.4rem;
      background-color: #f4dfb6;
    }
    .group-wUH {
      top: 23.0169rem;
      object-fit: contain;
      vertical-align: top;
      width: 9rem;
      height: 5.4451rem;
      position: absolute;
      left: 14.8rem;
    }
    .vector-UUD {
      top: 24.6378rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.2rem;
      height: 2.2631rem;
      position: absolute;
      left: 120.2rem;
    }
    .ic-outline-facebook-Cv1 {
      position: absolute;
      left: 115.6rem;
      top: 35.7rem;
      overflow: hidden;
      width: 2.4rem;
      height: 2.4rem;
    }
    .vector-kAq {
      position: absolute;
      left: 123.7rem;
      top: 24.7362rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.3rem;
      height: 2.2631rem;
    }
    .vector-tXw {
      left: 127.3rem;
      top: 24.6378rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.2rem;
      height: 2.2631rem;
      position: absolute;
    }
  }
  .navbar-QFP {
    width: 144rem;
    height: 16.3rem;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;

    .rectangle-2-Leq {
      width: 144rem;
      height: 9.1rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #9a4444;
    }
    .beranda-Um3 {
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.3rem;
      cursor: pointer;
      left: 38.7rem;
      top: 4.1rem;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.5;
      color: #f6ddc5;
      width: 7.3rem;
      position: absolute;
    }
    .belanja-aJH {
      left: 50.7rem;
      line-height: 1.5;
      white-space: nowrap;
      height: 2.3rem;
      cursor: pointer;
      top: 4.2rem;
      font-size: 1.5rem;
      font-weight: 700;
      color: #f6ddc5;
      font-family: Poppins, 'Source Sans Pro';
      width: 6.8rem;
      position: absolute;
    }
    .tentang-UeZ {
      white-space: nowrap;
      width: 7.1rem;
      position: absolute;
      top: 4.2rem;
      font-size: 1.5rem;
      font-weight: 700;
      color: #f6ddc5;
      height: 2.3rem;
      cursor: pointer;
      left: 85.8rem;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
    }
    .kontak-zcu {
      height: 2.3rem;
      font-size: 1.5rem;
      font-weight: 700;
      color: #f6ddc5;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 6.4rem;
      cursor: pointer;
      position: absolute;
      left: 98rem;
      top: 4.2rem;
      line-height: 1.5;
    }
    .group-1-tiH {
      width: 19rem;
      position: absolute;
      border-radius: 0 0 3rem 3rem;
      box-sizing: border-box;
      height: 16.3rem;
      left: 62.5rem;
      top: 0;
      background-color: #ca2129;
      padding: 4.2rem 3.172rem 4.274rem 3.1rem;

      .group-n2y {
        width: 12.7285rem;
        height: 7.8265rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
}
