
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.belanja-7Ed {
  width: 100%;
  height: 215.9rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.belanja-7Ed .body-1-Snh {
  box-sizing: border-box;
  padding: 14.9rem 21rem 14.941rem 16.6rem;
  width: 144rem;
  height: 167.4rem;
  position: absolute;
  left: 0;
  top: 8.8rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f4dfb6;
}
.belanja-7Ed .body-1-Snh .auto-group-a47x-Xp9 {
  margin-bottom: 10.7905rem;
  width: 100%;
  height: 62.4095rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.belanja-7Ed .body-1-Snh .auto-group-a47x-Xp9 .group-6-s7K {
  margin-right: 5.2rem;
  width: 60.6rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.belanja-7Ed .body-1-Snh .auto-group-a47x-Xp9 .group-6-s7K .pala-illustration-1-DBB {
  width: 35.0446rem;
  height: 35.0446rem;
  position: absolute;
  left: 25.5554rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.belanja-7Ed .body-1-Snh .auto-group-a47x-Xp9 .group-6-s7K .paladang-transparant-jfK {
  width: 38.2066rem;
  height: 54.836rem;
  position: relative;
  left: 8.6322rem;
  top: 4.9301rem;
  background-size: 215.152% 100%;
  background-position: -22.4511rem 0;
  background-image: url('../assets/paladang-transparant-bBb.png');
}
.belanja-7Ed .body-1-Snh .auto-group-a47x-Xp9 .group-6-s7K .paladang-1-cz1 {
  width: 27.8445rem;
  height: 27.3917rem;
  position: absolute;
  left: 0;
  top: 35.0178rem;
  object-fit: cover;
  vertical-align: top;
}
.belanja-7Ed .body-1-Snh .auto-group-a47x-Xp9 .auto-group-5a5s-xHB {
  margin: 6rem 0rem 5.024rem 0rem;
  width: 40.6rem;
  height: calc(100% - 11.0235rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.belanja-7Ed .body-1-Snh .auto-group-a47x-Xp9 .auto-group-5a5s-xHB .auto-group-mvyx-sQ9 {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.belanja-7Ed .body-1-Snh .auto-group-a47x-Xp9 .auto-group-5a5s-xHB .auto-group-mvyx-sQ9 .manisan-paladang-dPK {
  margin-bottom: 1.8rem;
  max-width: 24rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.5;
  color: #9a4444;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.belanja-7Ed .body-1-Snh .auto-group-a47x-Xp9 .auto-group-5a5s-xHB .auto-group-mvyx-sQ9 .merupakan-manisan-yang-terbuat-dari-bahan-buah-pala-dan-buah-pepaya-memiliki-sensahi-hangat-dari-buah-pala-dan-rasa-segar-dari-pepaya-camilan-ini-cocok-untuk-menemani-aktivitasmu-komposisi-buah-pala-buah-pepaya-gula-garam-pewarna-makanan-YFP {
  margin: 0rem 0rem 1.3rem 0.1rem;
  max-width: 36.4rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2189999686;
  color: #9a4444;
  font-family: Montserrat Alternates, 'Source Sans Pro';
  flex-shrink: 0;
}
.belanja-7Ed .body-1-Snh .auto-group-a47x-Xp9 .auto-group-5a5s-xHB .auto-group-mvyx-sQ9 .merupakan-manisan-yang-terbuat-dari-bahan-buah-pala-dan-buah-pepaya-memiliki-sensahi-hangat-dari-buah-pala-dan-rasa-segar-dari-pepaya-camilan-ini-cocok-untuk-menemani-aktivitasmu-komposisi-buah-pala-buah-pepaya-gula-garam-pewarna-makanan-YFP .merupakan-manisan-yang-terbuat-dari-bahan-buah-pala-dan-buah-pepaya-memiliki-sensahi-hangat-dari-buah-pala-dan-rasa-segar-dari-pepaya-camilan-ini-cocok-untuk-menemani-aktivitasmu-komposisi-buah-pala-buah-pepaya-gula-garam-pewarna-makanan-YFP-sub-0 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9a4444;
  font-family: Poppins, 'Source Sans Pro';
}
.belanja-7Ed .body-1-Snh .auto-group-a47x-Xp9 .auto-group-5a5s-xHB .auto-group-mvyx-sQ9 .merupakan-manisan-yang-terbuat-dari-bahan-buah-pala-dan-buah-pepaya-memiliki-sensahi-hangat-dari-buah-pala-dan-rasa-segar-dari-pepaya-camilan-ini-cocok-untuk-menemani-aktivitasmu-komposisi-buah-pala-buah-pepaya-gula-garam-pewarna-makanan-YFP .merupakan-manisan-yang-terbuat-dari-bahan-buah-pala-dan-buah-pepaya-memiliki-sensahi-hangat-dari-buah-pala-dan-rasa-segar-dari-pepaya-camilan-ini-cocok-untuk-menemani-aktivitasmu-komposisi-buah-pala-buah-pepaya-gula-garam-pewarna-makanan-YFP-sub-1 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.5;
  color: #9a4444;
  font-family: Poppins, 'Source Sans Pro';
}
.belanja-7Ed .body-1-Snh .auto-group-a47x-Xp9 .auto-group-5a5s-xHB .auto-group-mvyx-sQ9 .merupakan-manisan-yang-terbuat-dari-bahan-buah-pala-dan-buah-pepaya-memiliki-sensahi-hangat-dari-buah-pala-dan-rasa-segar-dari-pepaya-camilan-ini-cocok-untuk-menemani-aktivitasmu-komposisi-buah-pala-buah-pepaya-gula-garam-pewarna-makanan-YFP .merupakan-manisan-yang-terbuat-dari-bahan-buah-pala-dan-buah-pepaya-memiliki-sensahi-hangat-dari-buah-pala-dan-rasa-segar-dari-pepaya-camilan-ini-cocok-untuk-menemani-aktivitasmu-komposisi-buah-pala-buah-pepaya-gula-garam-pewarna-makanan-YFP-sub-2 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9a4444;
  font-family: Poppins, 'Source Sans Pro';
}
.belanja-7Ed .body-1-Snh .auto-group-a47x-Xp9 .auto-group-5a5s-xHB .auto-group-mvyx-sQ9 .rp13000-9wK {
  margin-left: 0.1rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.5;
  color: #9a4444;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.belanja-7Ed .body-1-Snh .auto-group-a47x-Xp9 .auto-group-5a5s-xHB .group-7-gRT {
  width: 100%;
  height: 5.0859rem;
  text-align: center;
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 1.5;
  color: #f4dfb6;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9a4444;
  border-radius: 1.4rem;
  flex-shrink: 0;
}
.belanja-7Ed .body-1-Snh .auto-group-wezq-wMP {
  margin: 0rem 0.4rem 0rem 3.8rem;
  width: calc(100% - 4.2rem);
  height: 64.3593rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.belanja-7Ed .body-1-Snh .auto-group-wezq-wMP .group-9-3fK {
  margin-right: 10.5407rem;
  width: 51.5593rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.belanja-7Ed .body-1-Snh .auto-group-wezq-wMP .group-9-3fK .mockupkemasanseblak-1-PjB {
  width: 33.3694rem;
  height: 56.6108rem;
  position: relative;
  left: 7.5107rem;
  top: 0;
  background-size: 254.726% 100%;
  background-position: -25.7741rem -0rem;
  background-image: url('../assets/mockupkemasanseblak-1-sdF.png');
}
.belanja-7Ed .body-1-Snh .auto-group-wezq-wMP .group-9-3fK .seblax-krispih-1-Ukd {
  width: 32.3593rem;
  height: 32.3593rem;
  position: absolute;
  left: 19.2rem;
  top: 32rem;
  object-fit: cover;
  vertical-align: top;
}
.belanja-7Ed .body-1-Snh .auto-group-wezq-wMP .group-9-3fK .cengek-QPP {
  width: 10.4915rem;
  height: 11.6291rem;
  position: relative;
  left: 0;
  top: 47.5297rem;
  background-size: 209.494% 188.068%;
  background-position: -7.5698rem -1.2885rem;
  background-image: url('../assets/cengek-6Ay.png');
}
.belanja-7Ed .body-1-Snh .auto-group-wezq-wMP .group-9-3fK .cengek-htH {
  width: 14.9156rem;
  height: 16.5588rem;
  position: relative;
  left: 0;
  top: 42.6rem;
  background-size: 209.494% 188.068%;
  background-position: -10.9041rem -1.8188rem;
  background-image: url('../assets/cengek-ds3.png');
}
.belanja-7Ed .body-1-Snh .auto-group-wezq-wMP .auto-group-qb9p-pT7 {
  margin-top: 1.4rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.belanja-7Ed .body-1-Snh .auto-group-wezq-wMP .auto-group-qb9p-pT7 .keripik-seblak-xpD {
  margin-bottom: 4rem;
  max-width: 17.9rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #9a4444;
  font-family: Montserrat Alternates, 'Source Sans Pro';
  flex-shrink: 0;
}
.belanja-7Ed .body-1-Snh .auto-group-wezq-wMP .auto-group-qb9p-pT7 .keripik-seblak-aulie-terbuat-dari-kerupuk-aci-pilihan-yang-dimasak-dengan-bumbu-pedas-yang-menggugah-selera-teksturnya-yang-renyah-akan-membuat-kamu-ketagihan-keripik-seblak-ini-juga-dapat-disajikan-sebagai-camilan-atau-lauk-pauk-pendamping-komposisi-kerupuk-bawang-merah-bawang-putih-minyak-goreng-kencur-cabai-daun-jeruk-penyedap-rasa-gkD {
  margin-bottom: 4.3rem;
  max-width: 40.1rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2189999686;
  color: #9a4444;
  font-family: Montserrat Alternates, 'Source Sans Pro';
  flex-shrink: 0;
}
.belanja-7Ed .body-1-Snh .auto-group-wezq-wMP .auto-group-qb9p-pT7 .keripik-seblak-aulie-terbuat-dari-kerupuk-aci-pilihan-yang-dimasak-dengan-bumbu-pedas-yang-menggugah-selera-teksturnya-yang-renyah-akan-membuat-kamu-ketagihan-keripik-seblak-ini-juga-dapat-disajikan-sebagai-camilan-atau-lauk-pauk-pendamping-komposisi-kerupuk-bawang-merah-bawang-putih-minyak-goreng-kencur-cabai-daun-jeruk-penyedap-rasa-gkD .keripik-seblak-aulie-terbuat-dari-kerupuk-aci-pilihan-yang-dimasak-dengan-bumbu-pedas-yang-menggugah-selera-teksturnya-yang-renyah-akan-membuat-kamu-ketagihan-keripik-seblak-ini-juga-dapat-disajikan-sebagai-camilan-atau-lauk-pauk-pendamping-komposisi-kerupuk-bawang-merah-bawang-putih-minyak-goreng-kencur-cabai-daun-jeruk-penyedap-rasa-gkD-sub-0 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #9a4444;
  font-family: Montserrat Alternates, 'Source Sans Pro';
}
.belanja-7Ed .body-1-Snh .auto-group-wezq-wMP .auto-group-qb9p-pT7 .keripik-seblak-aulie-terbuat-dari-kerupuk-aci-pilihan-yang-dimasak-dengan-bumbu-pedas-yang-menggugah-selera-teksturnya-yang-renyah-akan-membuat-kamu-ketagihan-keripik-seblak-ini-juga-dapat-disajikan-sebagai-camilan-atau-lauk-pauk-pendamping-komposisi-kerupuk-bawang-merah-bawang-putih-minyak-goreng-kencur-cabai-daun-jeruk-penyedap-rasa-gkD .keripik-seblak-aulie-terbuat-dari-kerupuk-aci-pilihan-yang-dimasak-dengan-bumbu-pedas-yang-menggugah-selera-teksturnya-yang-renyah-akan-membuat-kamu-ketagihan-keripik-seblak-ini-juga-dapat-disajikan-sebagai-camilan-atau-lauk-pauk-pendamping-komposisi-kerupuk-bawang-merah-bawang-putih-minyak-goreng-kencur-cabai-daun-jeruk-penyedap-rasa-gkD-sub-1 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #9a4444;
  font-family: Montserrat Alternates, 'Source Sans Pro';
}
.belanja-7Ed .body-1-Snh .auto-group-wezq-wMP .auto-group-qb9p-pT7 .keripik-seblak-aulie-terbuat-dari-kerupuk-aci-pilihan-yang-dimasak-dengan-bumbu-pedas-yang-menggugah-selera-teksturnya-yang-renyah-akan-membuat-kamu-ketagihan-keripik-seblak-ini-juga-dapat-disajikan-sebagai-camilan-atau-lauk-pauk-pendamping-komposisi-kerupuk-bawang-merah-bawang-putih-minyak-goreng-kencur-cabai-daun-jeruk-penyedap-rasa-gkD .keripik-seblak-aulie-terbuat-dari-kerupuk-aci-pilihan-yang-dimasak-dengan-bumbu-pedas-yang-menggugah-selera-teksturnya-yang-renyah-akan-membuat-kamu-ketagihan-keripik-seblak-ini-juga-dapat-disajikan-sebagai-camilan-atau-lauk-pauk-pendamping-komposisi-kerupuk-bawang-merah-bawang-putih-minyak-goreng-kencur-cabai-daun-jeruk-penyedap-rasa-gkD-sub-2 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #9a4444;
  font-family: Montserrat Alternates, 'Source Sans Pro';
}
.belanja-7Ed .body-1-Snh .auto-group-wezq-wMP .auto-group-qb9p-pT7 .rp10000-7ky {
  margin: 0rem 0rem 1.1rem 0.1rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.5;
  color: #9a4444;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.belanja-7Ed .body-1-Snh .auto-group-wezq-wMP .auto-group-qb9p-pT7 .group-8-Eah {
  width: 40rem;
  height: 5.0859rem;
  text-align: center;
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 1.5;
  color: #f4dfb6;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9a4444;
  border-radius: 1.4rem;
  flex-shrink: 0;
}
.belanja-7Ed .footer-VmX {
  width: 144rem;
  height: 39.7rem;
  position: absolute;
  left: 0;
  top: 176.2rem;
  overflow: hidden;
}
.belanja-7Ed .footer-VmX .rectangle-6-2WZ {
  width: 144rem;
  height: 48.4rem;
  position: absolute;
  left: 0;
  top: -0.4rem;
  background-color: #9a4444;
}
.belanja-7Ed .footer-VmX .terima-kasih-sudah-mampir-9LH {
  width: 74.4rem;
  height: 7.2rem;
  position: absolute;
  left: 34.8rem;
  top: 8.2rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.5;
  color: #f4dfb6;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.belanja-7Ed .footer-VmX .line-1-qD7 {
  width: 114.7rem;
  height: 0.3rem;
  position: absolute;
  left: 14.8rem;
  top: 18.4rem;
  background-color: #f4dfb6;
}
.belanja-7Ed .footer-VmX .auto-group-56tm-ZQ1 {
  width: 114.7rem;
  height: 5.0389rem;
  position: absolute;
  left: 14.8rem;
  top: 21.3rem;
  display: flex;
  align-items: center;
}
.belanja-7Ed .footer-VmX .auto-group-56tm-ZQ1 .group-57T {
  margin-right: 96.4rem;
  width: 9rem;
  height: 5.0389rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.belanja-7Ed .footer-VmX .auto-group-56tm-ZQ1 .vector-QfX {
  margin: 0.055rem 1.3rem 0rem 0rem;
  width: 2.2rem;
  height: 2.0943rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.belanja-7Ed .footer-VmX .auto-group-56tm-ZQ1 .vector-8bX {
  margin: 0.237rem 1.3rem 0rem 0rem;
  width: 2.3rem;
  height: 2.0943rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.belanja-7Ed .footer-VmX .auto-group-56tm-ZQ1 .vector-4EH {
  margin-top: 0.0553rem;
  width: 2.2rem;
  height: 2.0943rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.belanja-7Ed .footer-VmX .ic-outline-facebook-ztd {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 115.6rem;
  top: 35.7rem;
  overflow: hidden;
}
.belanja-7Ed .navbar-XNm {
  width: 144rem;
  height: 16.3rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.belanja-7Ed .navbar-XNm .rectangle-2-fUy {
  width: 144rem;
  height: 9.1rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #9a4444;
}
.belanja-7Ed .navbar-XNm .beranda-c9K {
  width: 7.3rem;
  height: 2.3rem;
  cursor: pointer;
  position: absolute;
  left: 38.7rem;
  top: 4.1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  color: #f6ddc5;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.belanja-7Ed .navbar-XNm .belanja-5ob {
  width: 6.8rem;
  height: 2.3rem;
  position: absolute;
  left: 50.7rem;
  top: 4.2rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  color: #f6ddc5;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.belanja-7Ed .navbar-XNm .tentang-PJV {
  width: 7.1rem;
  height: 2.3rem;
  cursor: pointer;
  position: absolute;
  left: 85.8rem;
  top: 4.2rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  color: #f6ddc5;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.belanja-7Ed .navbar-XNm .kontak-Huf {
  width: 6.4rem;
  height: 2.3rem;
  cursor: pointer;
  position: absolute;
  left: 98rem;
  top: 4.2rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  color: #f6ddc5;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.belanja-7Ed .navbar-XNm .group-1-bvM {
  box-sizing: border-box;
  padding: 4.2rem 3.172rem 4.274rem 3.1rem;
  width: 19rem;
  height: 16.3rem;
  position: absolute;
  left: 62.5rem;
  top: 0;
  background-color: #ca2129;
  border-radius: 0 0 3rem 3rem;
}
.belanja-7Ed .navbar-XNm .group-1-bvM .group-5ad {
  width: 12.7285rem;
  height: 7.8265rem;
  object-fit: contain;
  vertical-align: top;
}

a:-webkit-any-link{
  color: #f4dfb6;
  cursor: pointer;
  text-decoration: none;
}