
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.tentang-paladang-Uzh {
  width: 100%;
  height: 261rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.tentang-paladang-Uzh .body-1-2FX {
  width: 144rem;
  height: 211.7rem;
  position: absolute;
  left: 0;
  top: 9.1rem;
  overflow: hidden;
  background-color: #f4dfb6;
}
.tentang-paladang-Uzh .body-1-2FX .auto-group-y5ed-8pM {
  width: 113rem;
  height: 60.2rem;
  position: absolute;
  left: 15.2rem;
  top: 11.1rem;
}
.tentang-paladang-Uzh .body-1-2FX .auto-group-y5ed-8pM .manisan-paladang-3wK {
  width: 46.5rem;
  height: 7.2rem;
  position: absolute;
  left: 33.55rem;
  top: 0;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.5;
  color: #9a4444;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.tentang-paladang-Uzh .body-1-2FX .auto-group-y5ed-8pM .manisan-paladang-XrV {
  width: 53.1574rem;
  height: 52.3rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 4.7rem;
}
.tentang-paladang-Uzh .body-1-2FX .auto-group-y5ed-8pM .manisan-paladang-XrV .paladang-supergrafis-cnah-merah-r85 {
  width: 11.8rem;
  height: 11.8rem;
  position: absolute;
  left: 7.7rem;
  top: 19.2rem;
  object-fit: cover;
  vertical-align: top;
}
.tentang-paladang-Uzh .body-1-2FX .auto-group-y5ed-8pM .manisan-paladang-XrV .paladang-supergrafis-cnah-merah-8bP {
  width: 11.8rem;
  height: 11.8rem;
  position: absolute;
  left: 7.7rem;
  top: 19.2rem;
  object-fit: cover;
  vertical-align: top;
}
.tentang-paladang-Uzh .body-1-2FX .auto-group-y5ed-8pM .manisan-paladang-XrV .pala-illustration-1-qkh {
  width: 28.1215rem;
  height: 28.1215rem;
  position: absolute;
  left: 24.3069rem;
  top: 0rem;
  object-fit: cover;
  vertical-align: top;
}
.tentang-paladang-Uzh .body-1-2FX .auto-group-y5ed-8pM .manisan-paladang-XrV .paladang-transparant-AY5 {
  width: 30.6588rem;
  height: 44.0031rem;
  position: relative;
  left: 10.7269rem;
  top: 3.9561rem;
  background-size: 215.152% 100%;
  background-position: -18.0159rem 0;
  background-image: url('../assets/paladang-transparant-6RK.png');
}
.tentang-paladang-Uzh .body-1-2FX .auto-group-y5ed-8pM .manisan-paladang-XrV .paladang-1-G5K {
  width: 22.3438rem;
  height: 21.9804rem;
  position: absolute;
  left: 3.8rem;
  top: 28.1rem;
  object-fit: cover;
  vertical-align: top;
}
.tentang-paladang-Uzh .body-1-2FX .auto-group-y5ed-8pM .manisan-paladang-XrV .paladang-supergrafis-cnah-ijo-abo {
  width: 20.2148rem;
  height: 20.2148rem;
  position: absolute;
  left: 32.9426rem;
  top: 19.2426rem;
  object-fit: cover;
  vertical-align: top;
}
.tentang-paladang-Uzh .body-1-2FX .auto-group-y5ed-8pM .manisan-paladang-XrV .paladang-supergrafis-cnah-oren-JXo {
  width: 13.5851rem;
  height: 13.6609rem;
  position: absolute;
  left: 0;
  top: 8.5rem;
  object-fit: cover;
  vertical-align: top;
}
.tentang-paladang-Uzh .body-1-2FX .auto-group-y5ed-8pM .manisan-paladang-XrV .paladang-supergrafis-cnah-merah-SP7 {
  width: 16.3rem;
  height: 16.3rem;
  position: absolute;
  left: 26.7rem;
  top: 36rem;
  object-fit: cover;
  vertical-align: top;
}
.tentang-paladang-Uzh .body-1-2FX .auto-group-y5ed-8pM .manisan-paladang-merpakan-manisan-buah-yang-berbahan-buah-pala-dan-buah-pepaya-dalam-proses-pembuatannya-terdapat-beberapa-tahap-adapun-tahap-pembuatan-manisan-ini-adalah--9oK {
  width: 55.3rem;
  height: 12rem;
  position: absolute;
  left: 56.8rem;
  top: 12.7rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9a4444;
  font-family: Poppins, 'Source Sans Pro';
}
.tentang-paladang-Uzh .body-1-2FX .auto-group-y5ed-8pM .pertama-buah-pala-dan-buah-pepaya-muda-yang-sudah-dibersihkan-diparut-hingga-halus-kemudian-dicampur-jadi-satu-dengan-adonan-yang-sudah-diberi-pewarna-makanan-lalu-kembali-diaduk-sambil-dimasak-setelah-matang-manisan-paladang-dibentuk-bulat-bulat-kecil-lalu-dilumuri-gula-pasir-dan-dijemur-beberapa-jam-sampai-benar-benar-kering-setelah-kering-manisan-paladang-siap-dibungkus-dan-dipasarkan-ke-sejumlah-toko-oleh-oleh-bQR {
  width: 56.1rem;
  height: 27rem;
  position: absolute;
  left: 56.9rem;
  top: 25.5rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.218999958;
  color: #ca2129;
  font-family: Montserrat Alternates, 'Source Sans Pro';
}
.tentang-paladang-Uzh .body-1-2FX .auto-group-y5ed-8pM .pertama-buah-pala-dan-buah-pepaya-muda-yang-sudah-dibersihkan-diparut-hingga-halus-kemudian-dicampur-jadi-satu-dengan-adonan-yang-sudah-diberi-pewarna-makanan-lalu-kembali-diaduk-sambil-dimasak-setelah-matang-manisan-paladang-dibentuk-bulat-bulat-kecil-lalu-dilumuri-gula-pasir-dan-dijemur-beberapa-jam-sampai-benar-benar-kering-setelah-kering-manisan-paladang-siap-dibungkus-dan-dipasarkan-ke-sejumlah-toko-oleh-oleh-bQR .pertama-buah-pala-dan-buah-pepaya-muda-yang-sudah-dibersihkan-diparut-hingga-halus-kemudian-dicampur-jadi-satu-dengan-adonan-yang-sudah-diberi-pewarna-makanan-lalu-kembali-diaduk-sambil-dimasak-setelah-matang-manisan-paladang-dibentuk-bulat-bulat-kecil-lalu-dilumuri-gula-pasir-dan-dijemur-beberapa-jam-sampai-benar-benar-kering-setelah-kering-manisan-paladang-siap-dibungkus-dan-dipasarkan-ke-sejumlah-toko-oleh-oleh-bQR-sub-0 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9a4444;
  font-family: Poppins, 'Source Sans Pro';
}
.tentang-paladang-Uzh .body-1-2FX .auto-group-y5ed-8pM .pertama-buah-pala-dan-buah-pepaya-muda-yang-sudah-dibersihkan-diparut-hingga-halus-kemudian-dicampur-jadi-satu-dengan-adonan-yang-sudah-diberi-pewarna-makanan-lalu-kembali-diaduk-sambil-dimasak-setelah-matang-manisan-paladang-dibentuk-bulat-bulat-kecil-lalu-dilumuri-gula-pasir-dan-dijemur-beberapa-jam-sampai-benar-benar-kering-setelah-kering-manisan-paladang-siap-dibungkus-dan-dipasarkan-ke-sejumlah-toko-oleh-oleh-bQR .pertama-buah-pala-dan-buah-pepaya-muda-yang-sudah-dibersihkan-diparut-hingga-halus-kemudian-dicampur-jadi-satu-dengan-adonan-yang-sudah-diberi-pewarna-makanan-lalu-kembali-diaduk-sambil-dimasak-setelah-matang-manisan-paladang-dibentuk-bulat-bulat-kecil-lalu-dilumuri-gula-pasir-dan-dijemur-beberapa-jam-sampai-benar-benar-kering-setelah-kering-manisan-paladang-siap-dibungkus-dan-dipasarkan-ke-sejumlah-toko-oleh-oleh-bQR-sub-1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9a4444;
  font-family: Poppins, 'Source Sans Pro';
}
.tentang-paladang-Uzh .body-1-2FX .auto-group-y5ed-8pM .pertama-buah-pala-dan-buah-pepaya-muda-yang-sudah-dibersihkan-diparut-hingga-halus-kemudian-dicampur-jadi-satu-dengan-adonan-yang-sudah-diberi-pewarna-makanan-lalu-kembali-diaduk-sambil-dimasak-setelah-matang-manisan-paladang-dibentuk-bulat-bulat-kecil-lalu-dilumuri-gula-pasir-dan-dijemur-beberapa-jam-sampai-benar-benar-kering-setelah-kering-manisan-paladang-siap-dibungkus-dan-dipasarkan-ke-sejumlah-toko-oleh-oleh-bQR .pertama-buah-pala-dan-buah-pepaya-muda-yang-sudah-dibersihkan-diparut-hingga-halus-kemudian-dicampur-jadi-satu-dengan-adonan-yang-sudah-diberi-pewarna-makanan-lalu-kembali-diaduk-sambil-dimasak-setelah-matang-manisan-paladang-dibentuk-bulat-bulat-kecil-lalu-dilumuri-gula-pasir-dan-dijemur-beberapa-jam-sampai-benar-benar-kering-setelah-kering-manisan-paladang-siap-dibungkus-dan-dipasarkan-ke-sejumlah-toko-oleh-oleh-bQR-sub-2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9a4444;
  font-family: Poppins, 'Source Sans Pro';
}
.tentang-paladang-Uzh .body-1-2FX .auto-group-y5ed-8pM .pertama-buah-pala-dan-buah-pepaya-muda-yang-sudah-dibersihkan-diparut-hingga-halus-kemudian-dicampur-jadi-satu-dengan-adonan-yang-sudah-diberi-pewarna-makanan-lalu-kembali-diaduk-sambil-dimasak-setelah-matang-manisan-paladang-dibentuk-bulat-bulat-kecil-lalu-dilumuri-gula-pasir-dan-dijemur-beberapa-jam-sampai-benar-benar-kering-setelah-kering-manisan-paladang-siap-dibungkus-dan-dipasarkan-ke-sejumlah-toko-oleh-oleh-bQR .pertama-buah-pala-dan-buah-pepaya-muda-yang-sudah-dibersihkan-diparut-hingga-halus-kemudian-dicampur-jadi-satu-dengan-adonan-yang-sudah-diberi-pewarna-makanan-lalu-kembali-diaduk-sambil-dimasak-setelah-matang-manisan-paladang-dibentuk-bulat-bulat-kecil-lalu-dilumuri-gula-pasir-dan-dijemur-beberapa-jam-sampai-benar-benar-kering-setelah-kering-manisan-paladang-siap-dibungkus-dan-dipasarkan-ke-sejumlah-toko-oleh-oleh-bQR-sub-3 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9a4444;
  font-family: Poppins, 'Source Sans Pro';
}
.tentang-paladang-Uzh .body-1-2FX .auto-group-y5ed-8pM .pertama-buah-pala-dan-buah-pepaya-muda-yang-sudah-dibersihkan-diparut-hingga-halus-kemudian-dicampur-jadi-satu-dengan-adonan-yang-sudah-diberi-pewarna-makanan-lalu-kembali-diaduk-sambil-dimasak-setelah-matang-manisan-paladang-dibentuk-bulat-bulat-kecil-lalu-dilumuri-gula-pasir-dan-dijemur-beberapa-jam-sampai-benar-benar-kering-setelah-kering-manisan-paladang-siap-dibungkus-dan-dipasarkan-ke-sejumlah-toko-oleh-oleh-bQR .pertama-buah-pala-dan-buah-pepaya-muda-yang-sudah-dibersihkan-diparut-hingga-halus-kemudian-dicampur-jadi-satu-dengan-adonan-yang-sudah-diberi-pewarna-makanan-lalu-kembali-diaduk-sambil-dimasak-setelah-matang-manisan-paladang-dibentuk-bulat-bulat-kecil-lalu-dilumuri-gula-pasir-dan-dijemur-beberapa-jam-sampai-benar-benar-kering-setelah-kering-manisan-paladang-siap-dibungkus-dan-dipasarkan-ke-sejumlah-toko-oleh-oleh-bQR-sub-4 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9a4444;
  font-family: Poppins, 'Source Sans Pro';
}
.tentang-paladang-Uzh .body-1-2FX .auto-group-y5ed-8pM .selain-rasanya-yang-unik-manisan-ini-memiliki-banyak-manfaat-karena-kedua-bahan-utamanya-merupakan-buah-kaya-manfaat-WUm {
  width: 110.3rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 54.2rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9a4444;
  font-family: Poppins, 'Source Sans Pro';
}
.tentang-paladang-Uzh .body-1-2FX .auto-group-wfmx-MkH {
  width: 109.8788rem;
  height: 58.2rem;
  position: absolute;
  left: 14.8rem;
  top: 114.7rem;
}
.tentang-paladang-Uzh .body-1-2FX .auto-group-wfmx-MkH .sementara-itu-buah-pepaya-yang-kita-kenal-mampu-mengatasi-masalh-penceraan-ternyata-memiliki-banyak-manfaat-lainnya-yaitu--H89 {
  width: 53.7rem;
  height: 9rem;
  position: absolute;
  left: 0;
  top: 7.2rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9a4444;
  font-family: Poppins, 'Source Sans Pro';
}
.tentang-paladang-Uzh .body-1-2FX .auto-group-wfmx-MkH .sering-menjadi-bahan-bercanda-dengan-disebut-sebagai-makanan-burung-buah-yang-satu-ini-terbukti-amat-baik-untuk-pencernaan-dan-membantu-menurunkan-berat-badan-karena-papaya-mengandung-enzim-bernama-papain-dan-kandungan-seratnya-tinggi-kalorinya-pun-rendah-jkq {
  width: 55.6rem;
  height: 18rem;
  position: absolute;
  left: 0.4rem;
  top: 20.5rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9a4444;
  font-family: Poppins, 'Source Sans Pro';
}
.tentang-paladang-Uzh .body-1-2FX .auto-group-wfmx-MkH .pala-mengandung-berbagai-mineral-seperti-magnesium-mangan-zat-besi-dan-kalsium-mineral-mineral-ini-penting-untuk-kesehatan-tulang-pembentukan-darah-dan-fungsi-otot-YyB {
  width: 109.5rem;
  height: 6rem;
  position: absolute;
  left: 0.2rem;
  top: 0;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9a4444;
  font-family: Poppins, 'Source Sans Pro';
}
.tentang-paladang-Uzh .body-1-2FX .auto-group-wfmx-MkH .baik-untuk-pencernaan-dan-menurunkan-berat-badan-CXw {
  width: 55.8rem;
  height: 3rem;
  position: absolute;
  left: 0.2rem;
  top: 17.4rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #9a4444;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.tentang-paladang-Uzh .body-1-2FX .auto-group-wfmx-MkH .pepaya-merupakan-sumber-serat-antioksidan-serta-vitamin-c-makan-buah-ini-berarti-menghindarkan-diri-dari-kolesterol-tambahkan-semangkuk-pepaya-dalam-diet-harian-anda-maka-dengan-mengunyah-buah-lezat-ini-anda-bisa-terhindar-dari-penyakit-jantung-67X {
  width: 56.3rem;
  height: 15rem;
  position: absolute;
  left: 0.4rem;
  top: 43.2rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9a4444;
  font-family: Poppins, 'Source Sans Pro';
}
.tentang-paladang-Uzh .body-1-2FX .auto-group-wfmx-MkH .menurunkan-kolesterol-7HX {
  width: 24.1rem;
  height: 3rem;
  position: absolute;
  left: 0.4rem;
  top: 39.7rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #9a4444;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.tentang-paladang-Uzh .body-1-2FX .auto-group-wfmx-MkH .paladang-1-DbT {
  width: 47.9788rem;
  height: 47.31rem;
  position: absolute;
  left: 61.9rem;
  top: 3.8794rem;
  object-fit: cover;
  vertical-align: top;
}
.tentang-paladang-Uzh .body-1-2FX .selain-rasanya-yang-unik-manisan-ini-memiliki-banyak-manfaat-karena-kedua-bahan-utamanya-merupakan-buah-kaya-manfaat-Y7w {
  width: 110.3rem;
  height: 6rem;
  position: absolute;
  left: 15.2rem;
  top: 72.5rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9a4444;
  font-family: Poppins, 'Source Sans Pro';
}
.tentang-paladang-Uzh .body-1-2FX .buah-pala-sendiri-merupakan-rempah-yang-memiliki-aroma-khas-selain-aroma-khasnya-buah-pala-memiliki-banyak-manfaat-bagi-kesahatan-tubuh-antara-lain--DE5 {
  width: 110.4rem;
  height: 6rem;
  position: absolute;
  left: 15.2rem;
  top: 79.7rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9a4444;
  font-family: Poppins, 'Source Sans Pro';
}
.tentang-paladang-Uzh .body-1-2FX .buah-pala-mengandung-senyawa-antioksidan-seperti-miristikin-elemicin-dan-eugenol-antioksidan-membantu-melawan-radikal-bebas-dalam-tubuh-yang-dapat-membantu-melindungi-sel-sel-dari-kerusakan-oksidatif-TeD {
  width: 113.3rem;
  height: 6rem;
  position: absolute;
  left: 15.2rem;
  top: 90.3rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9a4444;
  font-family: Poppins, 'Source Sans Pro';
}
.tentang-paladang-Uzh .body-1-2FX .kaya-antioksidan-tjX {
  width: 18.4rem;
  height: 3rem;
  position: absolute;
  left: 15.2rem;
  top: 86.9rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #9a4444;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.tentang-paladang-Uzh .body-1-2FX .buah-pala-memiliki-sifat-yang-dapat-merangsang-produksi-enzim-pencernaan-membantu-dalam-proses-pencernaan-makanan-hal-ini-dapat-membantu-mengurangi-masalah-pencernaan-seperti-gas-kembung-dan-gangguan-pencernaan-lainnya-bdw {
  width: 111.6rem;
  height: 9rem;
  position: absolute;
  left: 14.8rem;
  top: 101rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9a4444;
  font-family: Poppins, 'Source Sans Pro';
}
.tentang-paladang-Uzh .body-1-2FX .meningkatkan-pencernaan-c3F {
  width: 28.1rem;
  height: 3rem;
  position: absolute;
  left: 14.8rem;
  top: 97.5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #9a4444;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.tentang-paladang-Uzh .body-1-2FX .mengandung-mineral-penting-KTT {
  width: 30.5rem;
  height: 3rem;
  position: absolute;
  left: 15rem;
  top: 111.2rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #9a4444;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.tentang-paladang-Uzh .body-1-2FX .pepaya-memiliki-sifat-anti-inflamasi-yang-kuat-dan-kaya-vitamin-c-jadi-makan-pepaya-itu-baik-sekali-untuk-memperkuat-tulang-dan-melindungi-anda-terhadap-arthritis-atau-radang-sendi-zpV {
  width: 109.8rem;
  height: 6rem;
  position: absolute;
  left: 15.2rem;
  top: 177.6rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9a4444;
  font-family: Poppins, 'Source Sans Pro';
}
.tentang-paladang-Uzh .body-1-2FX .melindungi-dari-radang-sendi-zxu {
  width: 31rem;
  height: 3rem;
  position: absolute;
  left: 15.2rem;
  top: 174.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #9a4444;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.tentang-paladang-Uzh .body-1-2FX .menurut-studi-yang-harvard-school-of-public-health-beta-karoten-dalam-pepaya-efektif-dalam-menekan-pertumbuhan-kanker-usus-serta-kanker-prostat-juga-antioksidan-dan-flavonoid-dalam-pepaya-mencegah-kerusakan-radikal-dalam-sel-dan-membantu-mengurangi-risiko-kanker-hMX {
  width: 108.3rem;
  height: 9rem;
  position: absolute;
  left: 15.2rem;
  top: 188.3rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9a4444;
  font-family: Poppins, 'Source Sans Pro';
}
.tentang-paladang-Uzh .body-1-2FX .mencegah-kanker-usus-prostat-KNu {
  width: 34.2rem;
  height: 3rem;
  position: absolute;
  left: 15.2rem;
  top: 184.8rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #9a4444;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.tentang-paladang-Uzh .footer-c77 {
  width: 144rem;
  height: 39.7rem;
  position: absolute;
  left: 0.1rem;
  top: 221.3rem;
  overflow: hidden;
}
.tentang-paladang-Uzh .footer-c77 .rectangle-6-85T {
  width: 144rem;
  height: 40.1rem;
  position: absolute;
  left: 0;
  top: -0.4rem;
  background-color: #9a4444;
}
.tentang-paladang-Uzh .footer-c77 .terima-kasih-sudah-mampir-4jo {
  width: 74.4rem;
  height: 7.2rem;
  position: absolute;
  left: 34.8rem;
  top: 8.2rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.5;
  color: #f4dfb6;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.tentang-paladang-Uzh .footer-c77 .line-1-mPK {
  width: 114.7rem;
  height: 0.3rem;
  position: absolute;
  left: 14.8rem;
  top: 18.4rem;
  background-color: #f4dfb6;
}
.tentang-paladang-Uzh .footer-c77 .group-hXs {
  width: 9rem;
  height: 5.0389rem;
  position: absolute;
  left: 14.8rem;
  top: 21.3rem;
  object-fit: contain;
  vertical-align: top;
}
.tentang-paladang-Uzh .footer-c77 .vector-qPB {
  width: 2.2rem;
  height: 2.0943rem;
  position: absolute;
  left: 120.2rem;
  top: 22.8rem;
  object-fit: contain;
  vertical-align: top;
}
.tentang-paladang-Uzh .footer-c77 .ic-outline-facebook-mXj {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 115.6rem;
  top: 35.7rem;
  overflow: hidden;
}
.tentang-paladang-Uzh .footer-c77 .vector-6pu {
  width: 2.3rem;
  height: 2.0943rem;
  position: absolute;
  left: 123.7rem;
  top: 22.8911rem;
  object-fit: contain;
  vertical-align: top;
}
.tentang-paladang-Uzh .footer-c77 .vector-dpq {
  width: 2.2rem;
  height: 2.0943rem;
  position: absolute;
  left: 127.3rem;
  top: 22.8rem;
  object-fit: contain;
  vertical-align: top;
}
.tentang-paladang-Uzh .navbar-NnR {
  width: 144rem;
  height: 16.3rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.tentang-paladang-Uzh .navbar-NnR .rectangle-2-6iR {
  width: 144rem;
  height: 9.1rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #9a4444;
}
.tentang-paladang-Uzh .navbar-NnR .beranda-F5X {
  width: 7.3rem;
  height: 2.3rem;
  cursor: pointer;
  position: absolute;
  left: 38.7rem;
  top: 4.1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  color: #f4dfb6;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.tentang-paladang-Uzh .navbar-NnR .belanja-9gh {
  width: 6.8rem;
  height: 2.3rem;
  cursor: pointer;
  position: absolute;
  left: 50.7rem;
  top: 4.2rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  color: #f4dfb6;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.tentang-paladang-Uzh .navbar-NnR .tentang-4of {
  width: 7.1rem;
  height: 2.3rem;
  cursor: pointer;
  position: absolute;
  left: 85.8rem;
  top: 4.2rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  color: #f4dfb6;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.tentang-paladang-Uzh .navbar-NnR .kontak-BNV {
  width: 6.4rem;
  height: 2.3rem;
  cursor: pointer;
  position: absolute;
  left: 98rem;
  top: 4.2rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  color: #f4dfb6;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.tentang-paladang-Uzh .navbar-NnR .group-1-gq3 {
  box-sizing: border-box;
  padding: 4.2rem 3.172rem 4.274rem 3.1rem;
  width: 19rem;
  height: 16.3rem;
  position: absolute;
  left: 62.5rem;
  top: 0;
  background-color: #ca2129;
  border-radius: 0 0 3rem 3rem;
}
.tentang-paladang-Uzh .navbar-NnR .group-1-gq3 .group-Bmo {
  width: 12.7285rem;
  height: 7.8265rem;
  object-fit: contain;
  vertical-align: top;
}

a:-webkit-any-link{
  color: #f4dfb6;
  cursor: pointer;
  text-decoration: none;
}