
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.tentang-seblak-vW1 {
  width: 100%;
  height: 176rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.tentang-seblak-vW1 .body-1-GZs {
  box-sizing: border-box;
  padding: 13rem 15rem 0.4rem 14.6rem;
  width: 144rem;
  height: 125.6rem;
  position: absolute;
  left: 0;
  top: 7.5rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f4dfb6;
}
.tentang-seblak-vW1 .body-1-GZs .auto-group-qdst-ZJ5 {
  margin: 0rem 0rem 1.2rem 3rem;
  width: 110.4rem;
  height: 57.3rem;
  position: relative;
  flex-shrink: 0;
}
.tentang-seblak-vW1 .body-1-GZs .auto-group-qdst-ZJ5 .keripik-seblak-GTP {
  width: 35.3rem;
  height: 7.2rem;
  position: absolute;
  left: 36.25rem;
  top: 0;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.5;
  color: #9a4444;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.tentang-seblak-vW1 .body-1-GZs .auto-group-qdst-ZJ5 .seblak-adalah-makanan-khas-indonesia-yang-berasal-dari-bandung-jawa-barat-makanan-ini-merupakan-hidangan-yang-terbuat-dari-berbagai-bahan-seperti-kerupuk-makaroni-tahu-bakso-dan-sayuran-yang-semuanya-direbus-bersamaan-dalam-kuah-yang-kaya-rempah-seblak-biasanya-memiliki-cita-rasa-pedas-dan-gurih-karena-penggunaan-bumbu-bumbu-seperti-cabai-bawang-putih-bawang-merah-dan-berbagai-rempah-lainnya-MDw {
  width: 56.4rem;
  height: 27rem;
  position: absolute;
  left: 54rem;
  top: 11rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9a4444;
  font-family: Poppins, 'Source Sans Pro';
}
.tentang-seblak-vW1 .body-1-GZs .auto-group-qdst-ZJ5 .cara-penyajian-seblak-bisa-beragam-beberapa-variasi-seblak-termasuk-seblak-ceker-yang-menggunakan-ceker-ayam-sebagai-bahan-utama-atau-seblak-kuah-yang-memiliki-kuah-lebih-kental-ada-juga-seblak-basah-yang-memiliki-tekstur-lebih-lembut-karena-menggunakan-kuah-yang-lebih-banyak-4nZ {
  width: 56.5rem;
  height: 18rem;
  position: absolute;
  left: 53.9rem;
  top: 39.3rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9a4444;
  font-family: Poppins, 'Source Sans Pro';
}
.tentang-seblak-vW1 .body-1-GZs .auto-group-qdst-ZJ5 .mockupkemasanseblak-1-dUH {
  width: 28rem;
  height: 47.6rem;
  position: relative;
  left: 6.8rem;
  top: 5.9rem;
  background-size: 254.726% 100%;
  background-position: -21.6269rem -0rem;
  background-image: url('../assets/mockupkemasanseblak-1-LLD.png');
}
.tentang-seblak-vW1 .body-1-GZs .auto-group-qdst-ZJ5 .seblax-krispih-1-Wny {
  width: 26rem;
  height: 26rem;
  position: absolute;
  left: 24.9rem;
  top: 27.5rem;
  object-fit: cover;
  vertical-align: top;
}
.tentang-seblak-vW1 .body-1-GZs .auto-group-qdst-ZJ5 .cengek-SRj {
  width: 9.7rem;
  height: 10.7rem;
  position: relative;
  left: 0;
  top: 38.3rem;
  background-size: 209.494% 188.068%;
  background-position: -6.9987rem -1.1855rem;
  background-image: url('../assets/cengek-rHB.png');
}
.tentang-seblak-vW1 .body-1-GZs .auto-group-qdst-ZJ5 .cengek-XTB {
  width: 13.7rem;
  height: 15.2rem;
  position: relative;
  left: 0;
  top: 33.8rem;
  background-size: 209.494% 188.068%;
  background-position: -9.8848rem -1.6841rem;
  background-image: url('../assets/cengek-egu.png');
}
.tentang-seblak-vW1 .body-1-GZs .seblak-menjadi-populer-di-berbagai-daerah-di-indonesia-dan-sering-dijadikan-sebagai-makanan-ringan-atau-hidangan-utama-keunikan-rasa-pedas-dan-gurih-seblak-membuatnya-menjadi-favorit-di-kalangan-pecinta-makanan-pedas-di-indonesia-293 {
  margin: 0rem 3.8rem 0.9rem 0rem;
  max-width: 109.8rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9a4444;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.tentang-seblak-vW1 .body-1-GZs .seiring-berjalannya-waktu-dan-bertambahnya-peminat-seblak-beberapa-orang-membuat-inovaasi-tentang-bagaimana-semua-orang-bisa-menikmati-seblak-namun-dengan-cara-yang-praktis-dan-dapat-disimpan-lebih-lama-salah-satu-solusinya-adalah-dengan-adanya-seblak-berbentuk-keripik-SiZ {
  margin: 0rem 2.3rem 0.9rem 0rem;
  max-width: 111.1rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9a4444;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.tentang-seblak-vW1 .body-1-GZs .dengan-bahan-yang-tidak-jauh-berbeda-keripik-seblak-berhasil-menjadi-camilan-yang-laku-dipasaran-begitu-pula-dengan-yang-aulie-lakukan-melakukan-produksi-keripik-seblak-tanpa-nemghilangkan-rasa-gurih-dan-pedas-dari-seblak-masak-pada-umumnya-fLR {
  margin: 0rem 0rem 0.9rem 0.5rem;
  max-width: 113.9rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9a4444;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.tentang-seblak-vW1 .body-1-GZs .keripik-seblak-aulie-terbuat-dari-kerupuk-aci-pilihan-yang-dimasak-dengan-bumbu-pedas-yang-menggugah-selera-teksturnya-yang-renyah-akan-membuat-kamu-ketagihan-keripik-seblak-ini-juga-dapat-disajikan-sebagai-camilan-atau-lauk-pauk-pendamping-lhoo-keripik-seblak-aulie-cocok-untuk-semua-kalangan-yuk-cobainsekarang-fjj {
  margin-right: 5.5rem;
  max-width: 108.9rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9a4444;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.tentang-seblak-vW1 .footer-rJR {
  width: 144rem;
  height: 42.9rem;
  position: absolute;
  left: 0.1rem;
  top: 133.1rem;
  overflow: hidden;
}
.tentang-seblak-vW1 .footer-rJR .rectangle-6-B5o {
  width: 144rem;
  height: 77.7rem;
  position: absolute;
  left: 0;
  top: -0.4rem;
  background-color: #9a4444;
}
.tentang-seblak-vW1 .footer-rJR .terima-kasih-sudah-mampir-hpq {
  width: 74.4rem;
  height: 7.2rem;
  position: absolute;
  left: 34.8rem;
  top: 8.2rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.5;
  color: #f4dfb6;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.tentang-seblak-vW1 .footer-rJR .line-1-D2V {
  width: 114.7rem;
  height: 0.3rem;
  position: absolute;
  left: 14.8rem;
  top: 18.4rem;
  background-color: #f4dfb6;
}
.tentang-seblak-vW1 .footer-rJR .group-wUH {
  width: 9rem;
  height: 5.4451rem;
  position: absolute;
  left: 14.8rem;
  top: 23.0169rem;
  object-fit: contain;
  vertical-align: top;
}
.tentang-seblak-vW1 .footer-rJR .vector-UUD {
  width: 2.2rem;
  height: 2.2631rem;
  position: absolute;
  left: 120.2rem;
  top: 24.6378rem;
  object-fit: contain;
  vertical-align: top;
}
.tentang-seblak-vW1 .footer-rJR .ic-outline-facebook-Cv1 {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 115.6rem;
  top: 35.7rem;
  overflow: hidden;
}
.tentang-seblak-vW1 .footer-rJR .vector-kAq {
  width: 2.3rem;
  height: 2.2631rem;
  position: absolute;
  left: 123.7rem;
  top: 24.7362rem;
  object-fit: contain;
  vertical-align: top;
}
.tentang-seblak-vW1 .footer-rJR .vector-tXw {
  width: 2.2rem;
  height: 2.2631rem;
  position: absolute;
  left: 127.3rem;
  top: 24.6378rem;
  object-fit: contain;
  vertical-align: top;
}
.tentang-seblak-vW1 .navbar-QFP {
  width: 144rem;
  height: 16.3rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.tentang-seblak-vW1 .navbar-QFP .rectangle-2-Leq {
  width: 144rem;
  height: 9.1rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #9a4444;
}
.tentang-seblak-vW1 .navbar-QFP .beranda-Um3 {
  width: 7.3rem;
  height: 2.3rem;
  cursor: pointer;
  position: absolute;
  left: 38.7rem;
  top: 4.1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  color: #f6ddc5;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.tentang-seblak-vW1 .navbar-QFP .belanja-aJH {
  width: 6.8rem;
  height: 2.3rem;
  cursor: pointer;
  position: absolute;
  left: 50.7rem;
  top: 4.2rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  color: #f6ddc5;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.tentang-seblak-vW1 .navbar-QFP .tentang-UeZ {
  width: 7.1rem;
  height: 2.3rem;
  cursor: pointer;
  position: absolute;
  left: 85.8rem;
  top: 4.2rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  color: #f6ddc5;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.tentang-seblak-vW1 .navbar-QFP .kontak-zcu {
  width: 6.4rem;
  height: 2.3rem;
  cursor: pointer;
  position: absolute;
  left: 98rem;
  top: 4.2rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  color: #f6ddc5;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.tentang-seblak-vW1 .navbar-QFP .group-1-tiH {
  box-sizing: border-box;
  padding: 4.2rem 3.172rem 4.274rem 3.1rem;
  width: 19rem;
  height: 16.3rem;
  position: absolute;
  left: 62.5rem;
  top: 0;
  background-color: #ca2129;
  border-radius: 0 0 3rem 3rem;
}
.tentang-seblak-vW1 .navbar-QFP .group-1-tiH .group-n2y {
  width: 12.7285rem;
  height: 7.8265rem;
  object-fit: contain;
  vertical-align: top;
}

a:-webkit-any-link {
  color: #f4dfb6;
  cursor: pointer;
  text-decoration: none;
}