
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.tentang-r1K {
  width: 100%;
  height: 215.9rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.tentang-r1K .body-1-z7X {
  box-sizing: border-box;
  padding: 12.8rem 15.1rem 24rem 15.1rem;
  width: 144rem;
  height: 167.4rem;
  position: absolute;
  left: 0;
  top: 8.8rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f4dfb6;
}
.tentang-r1K .body-1-z7X .auto-group-w27x-T17 {
  margin: 0rem 0.4rem 4.8rem 0rem;
  width: 113.4rem;
  height: 56.7rem;
  position: relative;
  flex-shrink: 0;
}
.tentang-r1K .body-1-z7X .auto-group-w27x-T17 .guideline-logo-06-1-AAR {
  width: 49.3rem;
  height: 35.6rem;
  position: absolute;
  left: 0;
  top: 6.6rem;
  object-fit: cover;
  vertical-align: top;
}
.tentang-r1K .body-1-z7X .auto-group-w27x-T17 .tentang-aulie-US1 {
  width: 34.4rem;
  height: 7.2rem;
  position: absolute;
  left: 39.7rem;
  top: 0;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.5;
  color: #9a4444;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.tentang-r1K .body-1-z7X .auto-group-w27x-T17 .aulie-adalah-sebuah-umkm-yang-bergerak-di-bidang-oleh-oleh-khas-purwakarta-pemilik-dari-umkm-aulie-ini-bernama-ibu-titin-kartini-produk-dari-aulie-sudah-dipasarkan-di-purwakarta-dan-bandung-produk-andalan-aulie-yaitu-manisan-paladang-sudah-diproduksi-sejak-tahun-2018-sedangkan-merek-aulie-sendiri-baru-didirikan-pada-tahun-2020-nama-aulie-diambil-dari-nama-belakang-kedua-anak-perempuan-ibu-titin-mvu {
  width: 56.5rem;
  height: 22rem;
  position: absolute;
  left: 56.9rem;
  top: 15.3rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #9a4444;
  font-family: Montserrat Alternates, 'Source Sans Pro';
}
.tentang-r1K .body-1-z7X .auto-group-w27x-T17 .saat-ini-aulie-memiliki-dua-produk-yaitu-manisan-paladang-dan-keripik-seblak-manisan-paladang-adalah-manisan-berbahan-dasar-buah-pala-dan-buah-pepaya-bu-titin-memproduksi-manisan-paladang-dengan-memanfaatkan-daging-buah-pala-yang-biasanya-tidak-terpakai-di-daerahnya-manisan-paladang-dibanderol-dengan-harga-rp-15000-per-125-g-sedangkan-keripik-seblak-yang-dijual-aulie-merupakan-hasil-pengemasan-ulang-dari-produsennya-yaitu-komunitas-fatayat-jadi-aulie-mengemas-ulang-dan-memasarkan-kembali-keripik-seblak-tersebut-keripik-seblak-dijual-dengan-harga-rp-5000-dan-rp-10000-5q7 {
  width: 110.8rem;
  height: 14.7rem;
  position: absolute;
  left: 0;
  top: 42rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #9a4444;
  font-family: Montserrat Alternates, 'Source Sans Pro';
}
.tentang-r1K .body-1-z7X .aulie-melakukan-pemberdayaan-terhadap-sdm-dan-sda-yang-ada-di-wanayasa-kabupaten-purwakarta-sdm-yang-dimaksud-adalah-tetangga-sekitar-tempat-produksi-yang-dijadikan-tenaga-kerja-yang-nantinya-diberi-upah-hal-tersebut-tentunya-membantu-perekonomian-warga-sekitar-selain-itu-aulie-juga-turut-membantu-keberlangsungan-komunitas-fatayat-dengan-memasarkan-keripik-seblak-hasil-produksi-komunitas-tersebut-sedangkan-pemberdayaan-dari-segi-sda-adalah-pemanfaatan-daging-pala-yang-diolah-menjadi-manisan-paladang-ZNu {
  margin-bottom: 4.8rem;
  max-width: 113.8rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #9a4444;
  font-family: Montserrat Alternates, 'Source Sans Pro';
  flex-shrink: 0;
}
.tentang-r1K .body-1-z7X .saat-ini-aulie-memasarkan-kedua-produknya-di-sekitar-rumah-produksi-dan-tempat-oleh-oleh-purwakarta-dengan-begitu-sudah-mulai-banyak-yang-mengenal-manisan-paladang-dan-keripik-seblak-hasil-produksi-aulie-salah-satu-tepat-oleh-oleh-yang-menjual-produk-aulie-adalah-menong-meskipun-begitu-ibu-titin-selaku-pemilik-merek-aulie-memiliki-harapan-besar-untuk-memiliki-outlet-sendiri-Vfs {
  margin: 0rem 2.7rem 10.5rem 0rem;
  max-width: 111.1rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #9a4444;
  font-family: Montserrat Alternates, 'Source Sans Pro';
  flex-shrink: 0;
}
.tentang-r1K .body-1-z7X .rumah-produksi-sAd {
  margin-bottom: 13.3rem;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.5;
  color: #9a4444;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tentang-r1K .body-1-z7X .auto-group-69c9-zW9 {
  margin: 0rem 35rem 0rem 35.5rem;
  width: calc(100% - 70.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.tentang-r1K .body-1-z7X .auto-group-69c9-zW9 .vector-Jmj {
  margin: 0rem 3.6rem 1.5rem 0rem;
  width: 3.3rem;
  height: 4.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tentang-r1K .body-1-z7X .auto-group-69c9-zW9 .desa-cibuntu-rt05-rw02-kecamatan-wanayasa-purwakarta-41174-jawa-barat-indonesia-Ddo {
  max-width: 36.4rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #9a4444;
  font-family: Montserrat Alternates, 'Source Sans Pro';
  flex-shrink: 0;
}
.tentang-r1K .footer-5vu {
  width: 144rem;
  height: 39.7rem;
  position: absolute;
  left: 0;
  top: 176.2rem;
  overflow: hidden;
}
.tentang-r1K .footer-5vu .rectangle-6-RUy {
  width: 144rem;
  height: 48.4rem;
  position: absolute;
  left: 0;
  top: -0.4rem;
  background-color: #9a4444;
}
.tentang-r1K .footer-5vu .terima-kasih-sudah-mampir-MtR {
  width: 74.4rem;
  height: 7.2rem;
  position: absolute;
  left: 34.8rem;
  top: 8.2rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.5;
  color: #f4dfb6;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.tentang-r1K .footer-5vu .line-1-GEh {
  width: 114.7rem;
  height: 0.3rem;
  position: absolute;
  left: 14.8rem;
  top: 18.4rem;
  background-color: #f4dfb6;
}
.tentang-r1K .footer-5vu .auto-group-ywwo-z4D {
  width: 114.7rem;
  height: 5.0389rem;
  position: absolute;
  left: 14.8rem;
  top: 21.3rem;
  display: flex;
  align-items: center;
}
.tentang-r1K .footer-5vu .auto-group-ywwo-z4D .group-HJD {
  margin-right: 96.4rem;
  width: 9rem;
  height: 5.0389rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tentang-r1K .footer-5vu .auto-group-ywwo-z4D .vector-pJ9 {
  margin: 0.055rem 1.3rem 0rem 0rem;
  width: 2.2rem;
  height: 2.0943rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tentang-r1K .footer-5vu .auto-group-ywwo-z4D .vector-LnH {
  margin: 0.237rem 1.3rem 0rem 0rem;
  width: 2.3rem;
  height: 2.0943rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tentang-r1K .footer-5vu .auto-group-ywwo-z4D .vector-4yB {
  margin-top: 0.0553rem;
  width: 2.2rem;
  height: 2.0943rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tentang-r1K .footer-5vu .ic-outline-facebook-CpV {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 115.6rem;
  top: 35.7rem;
  overflow: hidden;
}
.tentang-r1K .navbar-LQu {
  width: 144rem;
  height: 16.3rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.tentang-r1K .navbar-LQu .rectangle-2-Un1 {
  width: 144rem;
  height: 9.1rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #9a4444;
}
.tentang-r1K .navbar-LQu .beranda-EFP  {
  width: 7.3rem;
  height: 2.3rem;
  cursor: pointer;
  position: absolute;
  left: 38.7rem;
  top: 4.1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  color: #f4dfb6;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.tentang-r1K .navbar-LQu .belanja-igM {
  width: 6.8rem;
  height: 2.3rem;
  cursor: pointer;
  position: absolute;
  left: 50.7rem;
  top: 4.2rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  color: #f4dfb6;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.tentang-r1K .navbar-LQu .tentang-pzH {
  width: 7.1rem;
  height: 2.3rem;
  position: absolute;
  left: 85.8rem;
  top: 4.2rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  color: #f4dfb6;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.tentang-r1K .navbar-LQu .kontak-YQV {
  width: 6.4rem;
  height: 2.3rem;
  cursor: pointer;
  position: absolute;
  left: 98rem;
  top: 4.2rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  color: #f4dfb6;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.tentang-r1K .navbar-LQu .group-1-4Nq {
  box-sizing: border-box;
  padding: 4.2rem 3.172rem 4.274rem 3.1rem;
  width: 19rem;
  height: 16.3rem;
  position: absolute;
  left: 62.5rem;
  top: 0;
  background-color: #ca2129;
  border-radius: 0 0 3rem 3rem;
}
.tentang-r1K .navbar-LQu .group-1-4Nq .group-BCZ {
  width: 12.7285rem;
  height: 7.8265rem;
  object-fit: contain;
  vertical-align: top;
}
.tentang-r1K .navbar-LQu .beranda-EFP .a:-webkit-any-link {
  
  color: #f4dfb6;
  cursor: pointer;
  text-decoration: none;
}

a:-webkit-any-link {
  color: #f4dfb6;
  cursor: pointer;
  text-decoration: none;
}
